# Settings

In [1]:
OUTPUT_CLEANED_FOLDER = "output/"

# Read data

In [2]:
import os 
import pandas as pd 

df_interaction = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "user_activity_interaction_deep_cleaned.csv"))
df_user = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "user_info_deep_cleaned.csv"))
df_activity = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "activity_info_deep_cleaned.csv"))

/tmp/ipykernel_360172/1144630671.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_interaction = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "user_activity_interaction_deep_cleaned.csv"))

In [3]:
df_activity["id"]  = df_activity["id"].astype(str)

In [4]:
df_activity.head()

,id,title,type,desc,btc,createdTime,startTime,finishTime,deadlineTime,criteria
0,135,Tọa đàm đối thoại giữa sinh viên và lãnh đạo n...,Sinh hoạt chuyên đề,"Các bạn sinh viên thân mến, Gần đây, Trường ch...",Đại học Bách Khoa Hà Nội,2019-11-26 18:03:25,2019-11-26 18:00:00,2019-11-27 21:00:00,2019-11-27 21:00:00,"[{'CGroupId': 0, 'CId': 67, 'CName': 'Tham gia..."
1,136,Ngày hội tuyển dụng của công ty LG Electronics,Hội thảo hướng nghiệp,Công ty LG Electronics Việt Nam Hải Phòng (LGE...,Ban CTSV,2019-11-27 14:51:13,2019-11-29 08:30:00,2019-11-29 11:30:00,2019-11-29 11:30:00,"[{'CGroupId': 0, 'CId': 61, 'CName': 'Tham gia..."
2,137,Cổ vũ Giải bóng đá nam sinh viên các trường...,Hoạt động thể thao,Giải bóng đá sinh viên Hà Nội là giải đấu thườ...,Ban CTSV,2019-12-02 11:16:37,2019-12-02 08:00:00,2019-12-02 10:30:00,2019-12-02 10:30:00,"[{'CGroupId': 0, 'CId': 62, 'CName': 'Tham gia..."
3,146,"Lễ tổng kết cuộc thi ""Tuổi trẻ học tập và làm ...",Sinh hoạt chuyên đề,- Tiếp tục đẩy mạnh học tập và làm theo tư tưở...,Ban CTSV,2019-12-11 09:37:19,2019-12-14 18:00:00,2019-12-14 22:00:00,2019-12-14 22:00:00,"[{'CGroupId': 0, 'CId': 60, 'CName': 'Tham gia..."
4,147,Họp Chi bộ 12/2019,Hiến máu nhân đạo,Kiểm điểm đảng viên Triển khai công tác khác c...,Chi bộ SV II,2019-12-11 14:25:48,2019-12-08 17:00:00,2019-12-08 19:30:00,2019-12-08 19:30:00,"[{'CGroupId': 0, 'CId': 55, 'CName': 'Tham gia..."

In [5]:
df_interaction = df_interaction.astype(str)
df_interaction.dtypes

user_id            object
activity_id        object
accepted_status    object
dtype: object

In [6]:
df_interaction.head()

    user_id activity_id accepted_status
0  20186237         135               2
1  20170351         135               2
2  20191797         135               2
3  20174071         135               1
4  20193457         135               1

In [7]:
df_interaction["inter_score"] = 1

In [8]:
df_interaction

           user_id activity_id accepted_status  inter_score
0         20186237         135               2            1
1         20170351         135               2            1
2         20191797         135               2            1
3         20174071         135               1            1
4         20193457         135               1            1
...            ...         ...             ...          ...
3287967  20230352P        8969               2            1
3287968  20210381P        8969               2            1
3287969  20210126P        8969               2            1
3287970  20230327P        8969               2            1
3287971   20234387        8870               1            1

[3287972 rows x 4 columns]

In [9]:
df_all = df_interaction.merge(df_activity, left_on=["activity_id"], right_on=["id"])[["user_id", "activity_id", "inter_score", "createdTime"]]
df_all.head()

    user_id activity_id  inter_score          createdTime
0  20186237         135            1  2019-11-26 18:03:25
1  20170351         135            1  2019-11-26 18:03:25
2  20191797         135            1  2019-11-26 18:03:25
3  20174071         135            1  2019-11-26 18:03:25
4  20193457         135            1  2019-11-26 18:03:25

In [10]:
df_all.tail()

           user_id activity_id  inter_score          createdTime
3287967  20230352P        8969            1  2023-11-23 10:48:28
3287968  20210381P        8969            1  2023-11-23 10:48:28
3287969  20210126P        8969            1  2023-11-23 10:48:28
3287970  20230327P        8969            1  2023-11-23 10:48:28
3287971   20234387        8870            1  2023-10-17 12:12:00

In [11]:
df_all["createdTime"] = pd.to_datetime(df_all["createdTime"])

# Metrics

In [12]:
import numpy as np
import math

def getHitRatio(ranklist, gtItem):
    if gtItem in ranklist:
        return 1
    return 0

def getNDCG(ranklist, gtItem):
    ar = np.array(ranklist)
    if gtItem in ar:
        return math.log(2) / math.log(np.where(ar == gtItem)[0][0] + 2)
    return 0

# Training Testing Split

In [13]:
def train_test_split_time(df , columns_1 , columns_2 , columns_time):
    '''
    we will use the columns_1 as the first level index
    sort the columns_2 as the target by columns_time
    '''
    
    retrieve_name = df[columns_1].value_counts()[df[columns_1].value_counts() > 5].keys()
    df_test = df[df[columns_1].isin(retrieve_name)]
    df_test = df_test.sort_values(columns_time).groupby(columns_1).tail(1)
    df_train = df.drop(index=df_test.index)
    
    if df_test.shape[0] + df_train.shape[0] == df.shape[0]:
        print('train_test_split succeed!! with df_train shape:(%d,%d), df_test shape:(%d,%d)'
              %(df_train.shape[0],df_train.shape[1],df_test.shape[0],df_test.shape[1])
             )
        return df_train, df_test, retrieve_name
    else:
        print('Oops, something wrong, with df_train shape : (%d,%d), df_test shape : (%d,%d)'
              %(df_train.shape[0],df_train.shape[1],df_test.shape[0],df_test.shape[1])
             )
        print('df_shape : (%d,%d)'
              %(df.shape[0],df.shape[1])
             )

In [14]:
df_train, df_test, retrieve = train_test_split_time(df_all, 'user_id','activity_id', 'createdTime')

train_test_split succeed!! with df_train shape:(3234660,4), df_test shape:(53312,4)

In [15]:
df_train[df_train["user_id"] == "20204876"].sort_values(by="createdTime")

          user_id activity_id  inter_score         createdTime
449583   20204876         901            1 2020-09-18 11:32:04
1638608  20204876         907            1 2020-10-08 11:34:17
1286422  20204876         911            1 2020-10-14 17:41:22
2458868  20204876         921            1 2020-10-18 21:54:32
2838495  20204876         929            1 2020-10-22 16:43:32
...           ...         ...          ...                 ...
3156415  20204876        8978            1 2023-11-25 21:58:12
2773923  20204876        8982            1 2023-11-27 08:40:36
2418474  20204876        9025            1 2023-12-08 15:44:03
2425039  20204876        9033            1 2023-12-11 16:23:32
3032653  20204876        9064            1 2023-12-18 10:04:22

[194 rows x 4 columns]

In [16]:
df_test[df_test["user_id"] == "20204876"]

          user_id activity_id  inter_score         createdTime
2803899  20204876        9075            1 2023-12-19 21:34:35

We will use the leave-one-out method to evaluate our testing data

Basically, we will generate N samples list that the test user hasn't read and add the ground truth into the list, and see how the recommendation system will score and rank the list

In [17]:
set(df_all["activity_id"].unique())

{'6608',
 '1969',
 '2360',
 '2858',
 '3297',
 '2601',
 '3381',
 '6812',
 '2895',
 '7024',
 '5445',
 '1719',
 '199',
 '7072',
 '620',
 '2030',
 '1688',
 '584',
 '8541',
 '1221',
 '6665',
 '6554',
 '5406',
 '7054',
 '2182',
 '597',
 '2767',
 '337',
 '6656',
 '8379',
 '2636',
 '2840',
 '7246',
 '6798',
 '2755',
 '816',
 '3341',
 '1348',
 '8861',
 '500',
 '8761',
 '354',
 '1690',
 '2828',
 '2957',
 '601',
 '3084',
 '783',
 '312',
 '8545',
 '869',
 '1432',
 '1879',
 '8904',
 '3146',
 '1896',
 '8574',
 '2880',
 '7038',
 '8822',
 '1754',
 '3150',
 '2086',
 '7085',
 '2756',
 '1010',
 '3388',
 '3062',
 '5493',
 '1718',
 '6810',
 '1883',
 '879',
 '1905',
 '1430',
 '9051',
 '257',
 '8743',
 '1892',
 '1337',
 '6965',
 '1659',
 '232',
 '297',
 '782',
 '6692',
 '2716',
 '3193',
 '8442',
 '1774',
 '8575',
 '570',
 '721',
 '2411',
 '1064',
 '7093',
 '2548',
 '8298',
 '813',
 '6936',
 '5436',
 '8950',
 '633',
 '453',
 '1220',
 '162',
 '7258',
 '2350',
 '2961',
 '6906',
 '8380',
 '6919',
 '2246',
 '6990',
 '8696',
 '1209',
 '6654',
 '1262',
 '5499',
 '5464',
 '2928',
 '2923',
 '6628',
 '1437',
 '434',
 '1181',
 '5544',
 '8777',
 '6901',
 '1650',
 '8952',
 '525',
 '8885',
 '221',
 '8416',
 '8431',
 '990',
 '2598',
 '2714',
 '1454',
 '2833',
 '3207',
 '437',
 '2561',
 '3088',
 '7161',
 '9065',
 '2070',
 '8836',
 '2518',
 '1328',
 '8695',
 '3125',
 '1353',
 '937',
 '2069',
 '1898',
 '2979',
 '1029',
 '1634',
 '2789',
 '2395',
 '1174',
 '2117',
 '2351',
 '9043',
 '8264',
 '3105',
 '1473',
 '823',
 '6705',
 '2709',
 '2202',
 '6803',
 '2097',
 '6741',
 '8438',
 '1486',
 '5538',
 '1498',
 '1670',
 '700',
 '1310',
 '3172',
 '374',
 '3122',
 '6994',
 '322',
 '6889',
 '1974',
 '1032',
 '936',
 '8772',
 '2742',
 '2391',
 '831',
 '8734',
 '1230',
 '2772',
 '2292',
 '1525',
 '1080',
 '8859',
 '6567',
 '1992',
 '6589',
 '1786',
 '987',
 '1356',
 '8858',
 '8899',
 '6917',
 '8768',
 '9056',
 '206',
 '1242',
 '6904',
 '8304',
 '1101',
 '3214',
 '2846',
 '352',
 '3363',
 '1061',
 '982',
 '9006',
 '2544',
 '8320',
 '2520',
 '8651',
 '1800',
 '2409',
 '8693',
 '471',
 '376',
 '2144',
 '231',
 '792',
 '8595',
 '1555',
 '2584',
 '804',
 '355',
 '740',
 '8617',
 '8920',
 '8532',
 '8750',
 '8494',
 '294',
 '7070',
 '1868',
 '720',
 '8915',
 '7039',
 '1566',
 '8953',
 '2253',
 '3171',
 '8558',
 '8694',
 '9014',
 '8319',
 '6853',
 '732',
 '2949',
 '1488',
 '826',
 '8655',
 '8925',
 '2683',
 '6762',
 '7080',
 '8289',
 '318',
 '2207',
 '3267',
 '2760',
 '1665',
 '2806',
 '6679',
 '8947',
 '2173',
 '9025',
 '7037',
 '2807',
 '2247',
 '2653',
 '1449',
 '1206',
 '8716',
 '569',
 '6991',
 '8295',
 '6695',
 '1730',
 '2613',
 '6960',
 '1667',
 '2397',
 '7059',
 '2134',
 '2526',
 '161',
 '3224',
 '6894',
 '2227',
 '3024',
 '8553',
 '2849',
 '8266',
 '2127',
 '6559',
 '1421',
 '2315',
 '8376',
 '8722',
 '8888',
 '1445',
 '2929',
 '1166',
 '1491',
 '1350',
 '1127',
 '616',
 '2910',
 '656',
 '3155',
 '2522',
 '8371',
 '1823',
 '499',
 '6707',
 '2679',
 '627',
 '8911',
 '6920',
 '2510',
 '8825',
 '2971',
 '8744',
 '7228',
 '360',
 '2581',
 '2771',
 '1668',
 '948',
 '1975',
 '529',
 '166',
 '1137',
 '1863',
 '6578',
 '2642',
 '236',
 '8315',
 '1852',
 '2087',
 '930',
 '772',
 '8408',
 '1487',
 '8613',
 '6573',
 '3343',
 '986',
 '3368',
 '8624',
 '8543',
 '2361',
 '1172',
 '1914',
 '1151',
 '959',
 '1277',
 '893',
 '472',
 '3087',
 '6739',
 '8351',
 '1624',
 '2619',
 '1116',
 '7104',
 '691',
 '753',
 '8369',
 '1578',
 '8377',
 '8487',
 '1965',
 '8779',
 '3329',
 '2004',
 '8594',
 '3057',
 '1266',
 '2813',
 '8770',
 '2504',
 '6982',
 '1762',
 '2569',
 '8362',
 '6661',
 '8914',
 '1058',
 '3339',
 '8789',
 '8501',
 '7238',
 '8882',
 '7239',
 '7040',
 '7020',
 '7019',
 '2210',
 '5417',
 '2647',
 '2640',
 '649',
 '2200',
 '2722',
 '8277',
 '2128',
 '492',
 '7198',
 '2778',
 '5492',
 '6989',
 '8780',
 '796',
 '452',
 '197',
 '254',
 '1683',
 '8267',
 '1416',
 '2706',
 '8411',
 '8603',
 '2600',
 '1508',
 '1495',
 '1309',
 '3334',
 '5494',
 '8328',
 '1314',
 '2905',
 '592',
 '1160',
 '3204',
 '2729',
 '6983',
 '1458',
 '7036',
 '8884',
 '8967',
 '3049',
 '8705',
 '571',
 '1766',
 '2463',
 '6893',
 '743',
 '3205',
 '8291',
 '3030',
 '2997',
 '1374',
 '2513',
 '230',
 '3001',
 '2309',
 '216',
 '2425',
 '3316',
 '6837',
 '6980',
 '2960',
 '8876',
 '8306',
 '3161',
 '2142',
 '8759',
 '680',
 '6594',
 '1188',
 '1976',
 '8307',
 '6814',
 '1778',
 '8886',
 '8955',
 '6776',
 '8827',
 '7111',
 '2486',
 '6981',
 '6644',
 '8281',
 '8796',
 '2660',
 '5454',
 '7088',
 '3379',
 '2327',
 '3186',
 '8900',
 '2739',
 '2963',
 '8890',
 '8393',
 '455',
 '8559',
 '8644',
 '1539',
 '1295',
 '215',
 '2663',
 '5528',
 '1173',
 '5430',
 '3294',
 '307',
 '2481',
 '6637',
 '7254',
 '837',
 '390',
 '3109',
 '2936',
 '383',
 '8374',
 '1446',
 '541',
 '2494',
 '6784',
 '7163',
 '1279',
 '1134',
 '5455',
 '3271',
 '179',
 '5513',
 '6687',
 '7094',
 '7185',
 '2290',
 '334',
 '8974',
 '1319',
 '1015',
 '148',
 '7009',
 '1429',
 '3247',
 '1723',
 '1362',
 '915',
 '2723',
 '7053',
 '414',
 '2339',
 '1435',
 '7195',
 '404',
 '2948',
 '9071',
 '8347',
 '8308',
 '1574',
 '6924',
 '2820',
 '8912',
 '1106',
 '2405',
 '8309',
 '2444',
 '8261',
 '1384',
 '2768',
 '8426',
 '2763',
 '2792',
 '2838',
 '2224',
 '1658',
 '6932',
 '1544',
 '2460',
 '299',
 '2808',
 '2831',
 '1710',
 '6797',
 '3240',
 '1171',
 '7197',
 '1352',
 '2165',
 '2458',
 '1250',
 '2100',
 '8322',
 '8449',
 '6682',
 '1280',
 '2560',
 '8998',
 '6813',
 '724',
 '7004',
 '6996',
 '5511',
 '1051',
 '754',
 '2661',
 '886',
 '3192',
 '7219',
 '1148',
 '6829',
 '443',
 '6933',
 '1749',
 '1163',
 '920',
 '5505',
 '8755',
 '8901',
 '2388',
 '2252',
 '6923',
 '1740',
 '305',
 '2754',
 '6907',
 '6970',
 '2235',
 '5541',
 '8849',
 '1465',
 '6647',
 '2718',
 '3352',
 '2904',
 '2052',
 '3124',
 '9001',
 '6693',
 '1140',
 '6727',
 '2654',
 '8423',
 '193',
 '8841',
 '2093',
 '2950',
 '8490',
 '2774',
 '1649',
 '3225',
 '6774',
 '1349',
 '951',
 '2015',
 '7242',
 '8290',
 '3290',
 '1895',
 '1953',
 '2195',
 '3292',
 '8969',
 '9007',
 '1993',
 '5410',
 '3078',
 '2659',
 '8892',
 '1720',
 '3210',
 '3328',
 '6569',
 '1599',
 '2562',
 '8907',
 '5534',
 '1664',
 '2545',
 '6955',
 '6742',
 '1434',
 '2354',
 '9062',
 '1961',
 '2403',
 '2380',
 '848',
 '2744',
 '2203',
 '8804',
 '1797',
 '3255',
 '6723',
 '1982',
 '6971',
 '1462',
 '5458',
 '1507',
 '776',
 '2587',
 '7048',
 '6899',
 '239',
 '563',
 '2176',
 '6911',
 '7216',
 '995',
 '1647',
 '2839',
 '629',
 '6804',
 '5503',
 '976',
 '2804',
 '6683',
 '3130',
 '2341',
 '665',
 '1142',
 '7192',
 '1609',
 '3115',
 '1503',
 '2605',
 '1115',
 '954',
 '405',
 '1145',
 '1569',
 '8973',
 '8737',
 '8605',
 '8711',
 '8972',
 '1541',
 '7155',
 '1747',
 '8364',
 '7123',
 '1936',
 '2429',
 '791',
 '7096',
 '2222',
 '3014',
 '458',
 '710',
 '509',
 '2829',
 '1559',
 '3236',
 '7193',
 '1260',
 '6988',
 '8817',
 '3175',
 '3048',
 '335',
 '1085',
 '8482',
 '2101',
 '2332',
 '3362',
 '1742',
 '6860',
 '7200',
 '226',
 '8850',
 '5469',
 '821',
 '1444',
 '1228',
 '2225',
 '8565',
 '2554',
 '1696',
 '1565',
 '8530',
 '3149',
 '8954',
 '3196',
 '1457',
 '3342',
 '1291',
 '1557',
 '3104',
 '1341',
 '1796',
 '7073',
 '310',
 '5537',
 '2563',
 '1588',
 '1960',
 '2877',
 '2475',
 '2711',
 '4401',
 '1704',
 '6586',
 '981',
 '7253',
 '1540',
 '2464',
 '2609',
 '1915',
 '7016',
 '1990',
 '544',
 '2287',
 '7221',
 '8586',
 '6579',
 '1320',
 '6806',
 '158',
 '406',
 '393',
 '3154',
 '8420',
 '1338',
 '1819',
 '1603',
 '2624',
 '8887',
 '8758',
 '8786',
 '2920',
 '8578',
 '2777',
 '8434',
 '2024',
 '2279',
 '6909',
 '5432',
 '3288',
 '7218',
 '7057',
 '6849',
 '8708',
 '8336',
 '767',
 '6564',
 '3029',
 '2791',
 '222',
 '1775',
 '2498',
 '1686',
 '3147',
 '1443',
 '530',
 '760',
 '6801',
 '8576',
 '1674',
 '2678',
 '2363',
 '1877',
 '1470',
 '6957',
 '336',
 '7110',
 '1501',
 '2674',
 '1511',
 '811',
 '450',
 '264',
 '651',
 '8533',
 '6974',
 '8903',
 '1829',
 '410',
 '1096',
 '384',
 '2909',
 '566',
 '8816',
 '1489',
 '1506',
 '2978',
 '9012',
 '822',
 '2870',
 '1283',
 '2431',
 '1576',
 '6718',
 '6912',
 '2881',
 '7041',
 '9000',
 '2941',
 '2385',
 '862',
 '243',
 '7201',
 '7046',
 '274',
 '1490',
 '183',
 '1104',
 '8706',
 '2614',
 '2508',
 '1597',
 '1918',
 '2329',
 '5547',
 '6648',
 '2184',
 '8552',
 '8741',
 '8867',
 '8726',
 '8435',
 '1972',
 '415',
 '6866',
 '2696',
 '2536',
 '2697',
 '1604',
 '486',
 '1431',
 '2265',
 '4399',
 '6602',
 '2525',
 '3177',
 '8752',
 '6855',
 '8764',
 '2001',
 '8400',
 '7241',
 '761',
 '7128',
 '1988',
 '466',
 '6576',
 '2975',
 '8618',
 '1302',
 '2043',
 '788',
 '2248',
 '2258',
 '1873',
 '6838',
 '799',
 '371',
 '3372',
 '3323',
 '6680',
 '8299',
 '8520',
 '617',
 '6986',
 '8317',
 '8588',
 '431',
 '6582',
 '3330',
 '2019',
 '2482',
 '5520',
 '151',
 '7171',
 '5461',
 '1504',
 '6672',
 '8941',
 '3252',
 '1191',
 '830',
 '3245',
 '2823',
 '288',
 '2270',
 '5542',
 '157',
 '8661',
 ...}

In [18]:
len(set(df_all["activity_id"].unique()).difference(sorted(df_all.groupby("user_id")['activity_id'].apply(list)["20204876"])))

4310

In [19]:
import random

random.seed(73)

def get_sampling(df_target, df_source, numbers_of_N_sample, generate_negative = False):
    '''
    1.
    return: test_rating in the shape of [ [user_pid,article] * N ]
    2.
    from the target dataframe, sampling the negative sample from source dataframe
    return: list in the shape of [ [((user_id, ground truth)) , [numbers_of_N_sample(negative samples)]] * N]
    '''
    test_rating = df_target[['user_id','activity_id']].values.tolist()
    print('test_rating yield successfully!!!')
    
    if generate_negative:
        act_set = set(df_source["activity_id"].unique())
        mapping_user_act = df_source.groupby("user_id")['activity_id'].apply(list)
        negative_test_rating = []
        for i in range(df_target.shape[0]):
            drop_id = test_rating[i][0]
            list_ = random.sample(list(act_set.difference(mapping_user_act[drop_id])), numbers_of_N_sample)
            negative_test_rating.append([test_rating[i], list_])
        print('negative_test_rating yield successfully!!!')

        return test_rating, negative_test_rating
    else:
        return test_rating

In [20]:
print('''only for generating sample, if there is a sample file already, skip this cell in the future''')
# In the future just execute the next cell to get the test rating & negative sampling
# import time
# import pickle

# time1 = time.time()
# test_rating, negative_test_rating = get_sampling(df_test, df_train, 19, True)
# time2 = time.time()
# print('Took for %d seconds' %(time2-time1))
# with open("output/negative_test_rating_19N.pkl","wb") as f: #in write mode
#     pickle.dump(negative_test_rating, f)

only for generating sample, if there is a sample file already, skip this cell in the future

In [22]:
import time
import pickle

time1 = time.time()
test_rating = get_sampling(df_test, df_train, None)
with open("output/negative_test_rating_19N.pkl",'rb') as f: #in read mode, not in write mode, careful
    negative_test_rating = pickle.load(f)
    print('negative_test_rating yield successfully!!!')
    
time2 = time.time()
print('Took for %d seconds' %(time2-time1))

test_rating yield successfully!!!
negative_test_rating yield successfully!!!
Took for 0 seconds

# Create Features for Activity

In [23]:
df_activity_processed = df_activity.copy()
df_activity_processed.nunique()

id              4537
title           4532
type              19
desc            2948
btc              143
createdTime     4534
startTime       2312
finishTime      2391
deadlineTime    2383
criteria         381
dtype: int64

In [24]:
df_activity_processed.dtypes

id              object
title           object
type            object
desc            object
btc             object
createdTime     object
startTime       object
finishTime      object
deadlineTime    object
criteria        object
dtype: object

In [25]:
df_activity_processed.head()

,id,title,type,desc,btc,createdTime,startTime,finishTime,deadlineTime,criteria
0,135,Tọa đàm đối thoại giữa sinh viên và lãnh đạo n...,Sinh hoạt chuyên đề,"Các bạn sinh viên thân mến, Gần đây, Trường ch...",Đại học Bách Khoa Hà Nội,2019-11-26 18:03:25,2019-11-26 18:00:00,2019-11-27 21:00:00,2019-11-27 21:00:00,"[{'CGroupId': 0, 'CId': 67, 'CName': 'Tham gia..."
1,136,Ngày hội tuyển dụng của công ty LG Electronics,Hội thảo hướng nghiệp,Công ty LG Electronics Việt Nam Hải Phòng (LGE...,Ban CTSV,2019-11-27 14:51:13,2019-11-29 08:30:00,2019-11-29 11:30:00,2019-11-29 11:30:00,"[{'CGroupId': 0, 'CId': 61, 'CName': 'Tham gia..."
2,137,Cổ vũ Giải bóng đá nam sinh viên các trường...,Hoạt động thể thao,Giải bóng đá sinh viên Hà Nội là giải đấu thườ...,Ban CTSV,2019-12-02 11:16:37,2019-12-02 08:00:00,2019-12-02 10:30:00,2019-12-02 10:30:00,"[{'CGroupId': 0, 'CId': 62, 'CName': 'Tham gia..."
3,146,"Lễ tổng kết cuộc thi ""Tuổi trẻ học tập và làm ...",Sinh hoạt chuyên đề,- Tiếp tục đẩy mạnh học tập và làm theo tư tưở...,Ban CTSV,2019-12-11 09:37:19,2019-12-14 18:00:00,2019-12-14 22:00:00,2019-12-14 22:00:00,"[{'CGroupId': 0, 'CId': 60, 'CName': 'Tham gia..."
4,147,Họp Chi bộ 12/2019,Hiến máu nhân đạo,Kiểm điểm đảng viên Triển khai công tác khác c...,Chi bộ SV II,2019-12-11 14:25:48,2019-12-08 17:00:00,2019-12-08 19:30:00,2019-12-08 19:30:00,"[{'CGroupId': 0, 'CId': 55, 'CName': 'Tham gia..."

In [26]:
df_activity_processed["createdTime"]

0       2019-11-26 18:03:25
1       2019-11-27 14:51:13
2       2019-12-02 11:16:37
3       2019-12-11 09:37:19
4       2019-12-11 14:25:48
               ...
4532    2023-12-20 13:49:42
4533    2023-12-20 16:01:48
4534    2023-12-20 21:49:56
4535    2023-12-20 22:32:40
4536    2023-12-21 14:32:13
Name: createdTime, Length: 4537, dtype: object

In [27]:
df_activity_processed["createdTimeYear"] = pd.to_datetime(df_activity_processed["createdTime"]).dt.year

In [28]:
df_activity_processed["createdTimeYear"].unique() # category features

array([2019, 2020, 2021, 2022, 2023], dtype=int32)

In [29]:
df_activity_processed["type"].unique() # category features

array(['Sinh hoạt chuyên đề', 'Hội thảo hướng nghiệp',
       'Hoạt động thể thao', 'Hiến máu nhân đạo',
       'Hỗ trợ tổ chức sự kiện', 'Hoạt động văn nghệ',
       'Thực tập tại doanh nghiệp', 'Tham gia nghiên cứu LAB',
       'Sinh hoạt công dân', 'Hội thảo khoa học', 'Khóa học kỹ năng mềm',
       'Họp lớp', 'Cuộc thi khoa học công nghệ', 'Tình nguyện tại chỗ',
       'Hoạt động khảo sát', 'Khai báo online', 'Sinh hoạt câu lạc bộ',
       'Ủng hộ, quyên góp', 'Giáo dục Chính trị & Tư tưởng'], dtype=object)

In [30]:
df_activity_processed["btc"].unique() # too much -> concat to title, desc

array(['Đại học Bách Khoa Hà Nội', 'Ban CTSV', 'Chi bộ SV II',
       'Tổ hỗ trợ, tư vấn học tập và tâm lý', 'Tổ Văn Thể Mỹ',
       'Viện Ngoại Ngữ',
       'Liên chi Hội Sinh viên Viện Công nghệ Thông tin và Truyền thông',
       'Hội Sinh Viên', 'Viện Điện Tử - Viễn Thông',
       'Đoàn TNCS Hồ Chí Minh ĐH BKHN', 'BCH LCĐ - LCH SV Viện Điện',
       'Ban TCKT ĐTN & Ban TCXDH HSV', 'Ban Phát triển Thư viện',
       'Liên chi Đoàn - Liên chi Hội sinh viên Chương trình Đào tạo Quốc tế',
       'Viện Toán ứng dụng và Tin học',
       'Liên chi đoàn Viện Điện tử - Viễn thông',
       'Liên chi hội Sinh viên Viện Vật lý Kỹ thuật', 'SIE',
       'Liên chi Đoàn - Liên chi Hội Sinh viên - Viện Ngoại Ngữ',
       'Ban Truyền thông - VNN', 'Liên chi đoàn Viện CNTT&TT',
       'Viện Kinh tế & Quản lý', 'Ban Tuyển sinh',
       'Viện Sư phạm Kỹ thuật', 'Viện Điện',
       'Trường Công nghệ Thông tin và Truyền thông',
       'Viện KH&KT Vật liệu',
       'Liên Chi Đoàn-Liên Chi Hội Sinh viên Viện Cơ khí Động lực',
       'Cán bộ lớp,Đoàn-Hội Viện KH&KT Vật Liệu hoàn thành xuất sắc nhiệm vụ',
       'Cán bộ lớp, Đoàn-Hội Viện KH&KT Vật Liệu hoàn thành tốt nhiệm vụ',
       'MSE FACTORY TOUR 2019 - Chương trình tham quan thực tế Công ty Hòa Phát Dung Quất Quảng Ngãi dành cho SV Viện KH & KT Vật Liệu',
       'Giải bóng đá truyền thống Viện KH&KT Vật Liệu MSE CUP 2019',
       'Tham gia đội Văn nghệ Công Đoàn Viện KH&KT Vật Liệu',
       'ĐẠI HỘI CÁC CHI ĐOÀN - CHI HỘI SV CÁC LỚP VIỆN KH&KT VẬT LIỆU NHIỆM KỲ 2019-2020',
       'Tập huấn Ban Chấp hành LCĐ-LCH SV Viện KH&KT Vật Liệu năm học 2019-2020',
       'ĐẠI HỘI ĐẠI BIỂU LIÊN CHI ĐOÀN VIỆN KH&KT VẬT LIỆU NHIỆM KỲ 2019 - 2022',
       'Tham gia dẫn đoàn Chương trình MSE FACTORY TOUR 2019',
       'Tham gia các Lab nghiên cứu thuộc Viện KH&KT Vật Liệu',
       'Tham gia Tuần lễ Sinh hoạt công dân và Trao học bổng  Viện KH&KT Vật Liệu 2019-2020',
       'Viện Cơ Khí', 'Liên Chi hội Sinh viên Viện CNSH&CNTP',
       'Chi bộ SV I', 'Viện Kỹ thuật Hóa học',
       'Liên chi Đoàn - Liên chi Hội Viện Khoa học và Công nghệ Nhiệt-Lạnh',
       'Câu lạc bộ học tập và NCKH',
       'Tổ hỗ trợ thực tập, việc làm doanh nghiệp',
       'LCĐ-LCH Viện KỸTHUẬT HÓA HỌC', 'Tổ Đào tạo tiếng Anh - CLA',
       'Trung tâm Năng lượng Nguyên tử ICONE',
       'Câu lạc bộ tiếng Anh CLA - CLA English Club',
       'Liên Chi Đoàn Viện Dệt May - Da Giầy và Thời Trang',
       'Viện Dệt may & Da Giầy Thời trang',
       'Liên chi Đoàn - Liên chi Hội', 'LCĐ Viện CNSH&CNTP',
       'TRUYỀN THÔNG', 'Cán bộ đoàn hội',
       'Câu lạc bộ Tiếng anh chuyên ngành - SHEER English Club (SEC)',
       'BCH LCĐ - LCH SV VIỆN KH&KT VẬT LIỆU', 'LCHSV Viện CNSH&CNTP',
       'Viện Cơ Khí Động Lực', 'Lớp Kỹ thuật Hàng không K64',
       'UAV Flight Dynamics and Control Lab',
       'BK Autonomous Unmanned Vehicles', 'Quản lý lớp sinh viên',
       'Engines and Vehicles Simulation Group', 'Aerospace Engine Lab',
       'Computational Engineering Group - Thầy Phạm Văn Sáng',
       'Kỹ thuật tàu thủy K59', 'Vehicle Propulsion Systems Group',
       'Computer-Aided Design and Simulation of Automobile Engine Group',
       'STE - Intelligent Vehicles Lab',
       'STE - Electric, Hybrid and Fuel Cell Vehicles Lab',
       'AeroSpace Computer-Aided Engineering Lab',
       'Đoàn thanh niên - Hội sinh viên Trường Công nghệ Thông tin & Truyền thông',
       'Nhóm 1', 'Nhóm 2', 'Viện KH&CN Môi trường',
       'LCĐ - LCH Sinh viên Viện Vật lý Kỹ thuật',
       'PTN Động lực học ô tô', 'BK-AUTO', 'Lớp Cơ khí Động lực 2 K61',
       'KSCLC-CKHK-K62', 'KSCLC-CKHK-K63', 'Truth Love in Simulation',
       'Câu Lạc Bộ', 'BKStech',
       "Câu lạc bộ tiếng Pháp CFI - Club Francophone d'IPH",
       'LAB thầy Thuận', 'Viện Vật lý Kỹ thuật',
       'Aerospace Structure and Materials', 'Chi bộ SV III',
       'Khoa Lý luận Chính trị', 'Kỹ thuật ô tô 01 K63', 'CLB Tiếng Pháp',
       'TỔ HỖ TRỢ HỌC TẬP BCORN',
       '[CTSV] Tổ Hỗ trợ triển khai Hệ thống iCTSV',
       'CTV Tổ tư vấn tâm lý',
       'Trung tâm hỗ trợ ngôn ngữ và trao đổi học thuật (CLA)',
       'Viện KH&CN Nhiệt Lạnh', 'Viện CN Sinh học và CN Thực phẩm',
       'LAB MANDEVICES',
       'Nhóm nghiên cứu về xử lý ảnh và phân tích tín hiệu (IPSAL LAB)',
       'Nhóm nghiên cứu C9-111', 'Trường Điện - Điện tử', 'Trường Cơ khí',
       'INTERNSHIP', 'Chi bộ Sinh viên', 'CKĐL 03 - K62',
       'CB QLL/ GV chủ nhiệm-VNN', 'Chi bộ sinh viên Điện - Điện tử',
       'Chi bộ Sinh viên CNTT', '[CTSV] Tổ Hỗ trợ sự kiện H.E.S',
       'BLL Sinh viên Thanh Hóa - ĐH Bách Khoa Hà Nội',
       'CLB Kinh tế Môi trường - SEM',
       'CLB Logistics & Chuỗi cung ứng - SEM',
       '[ĐTN/HSV] CLB Hỗ trợ Học tập', 'CLB Tiếng Anh SEMEC - SEM',
       'BCH LCĐ - LCH Viện Kinh tế và Quản lý', 'CLB Âm nhạc M.I.C',
       'CLB Phân tích Kinh doanh - SEM', 'CLB Guitar Bách khoa - GVC',
       'Đội Tình nguyện Các chương trình Chất lượng cao - CTES',
       'CLB Yêu sách', 'LCĐ Viện Dệt May - Da giầy và TT kỳ 2022.2',
       'Lễ trao áo xanh cho Tình ngyện viên khóa mới',
       'CLB Cờ Vua Bách Khoa Hà Nội - BKC', 'CLB Kế toán Tài chính - SEM',
       'CLB Nhà Kinh Tế Trẻ - SEM', 'CLB Tranh Biện Bách Khoa - BKD',
       'Hoạt động Kỹ năng mềm', '[CTSV] Câu lạc bộ o365',
       'Đội SVTN Đồng hương Phú Thọ - Đại học Bách khoa Hà Nội',
       'Đội SVTN chương trình ĐTQT SIE', '[KGDTC] Câu lạc bộ Cầu lông',
       'Trường Vật liệu',
       'Đội tình nguyện 10/1985 Hội Sinh viên Đại học Bách khoa Hà Nội',
       'CLB SV BME', 'CLB Cờ tướng Bách khoa Hà Nội',
       'Đội Tình nguyện Hội Sinh viên Đại học Bách khoa Hà Nội',
       'CLB Sinh học Thực phẩm - FOBIC', 'Trung tâm Đào tạo liên tục',
       'HỌP CLB THƯỜNG KỲ', '[CTSV] CLB Kết nối CSV Bách khoa'],
      dtype=object)

In [31]:
df_activity_processed["createdTime"].min(), df_activity_processed["createdTime"].max() # categorize based on years

('2019-11-26 18:03:25', '2023-12-21 14:32:13')

In [32]:
df_activity_processed["criteria"][0]

"[{'CGroupId': 0, 'CId': 67, 'CName': 'Tham gia các diễn đàn sinh viên, các buổi toạ đàm với lãnh đạo Viện, Trường', 'CType': 0, 'CMaxPoint': 3.0, 'CStatus': 0}]"

In [33]:
import re

def clean_json(string):
    p = re.compile('(?<!\\\\)\'')
    return p.sub('\"', string)

In [34]:
import json
citeria_list = {}

for index, row in df_activity_processed.iterrows():
    criteria = row['criteria']
    try:
        json_parsed = json.loads(clean_json(criteria))
        for crite in json_parsed:
                citeria_list[crite["CId"]] = {"id": crite["CId"],
                                            "name": crite["CName"],
                                            "point": crite["CMaxPoint"]}
    except Exception as e:
         pass 
         # Just ignore them, We cannot parse them :)

In [35]:
len(citeria_list) # Categorical

49

In [36]:
## Bi-Encoder for encoding text
act_id_to_text = {}

for index, row in df_activity_processed.iterrows():
    title = str(row['title']).strip() if row['title'] is not None else ""
    desc = str(row["desc"]).strip() if row['desc'] is not None else ""
    btc = str(row["btc"]).strip() if row['btc'] is not None else ""
    
    act_id_to_text[row["id"]] = title + "\n\n" + desc + "\n\n" + btc

In [38]:
print("You do not need run this if you already have the embeddings")
# # INPUT TEXT MUST BE ALREADY WORD-SEGMENTED!

# Necessary libraries

# from tqdm import tqdm 
# from sentence_transformers import SentenceTransformer
# from pyvi import ViTokenizer

# SENTENCE_PER_BATCH = 64
# model = SentenceTransformer('bkai-foundation-models/vietnamese-bi-encoder')
# len_all = len(act_id_to_text)

# list_key = []
# list_embedding = []
# count = 0
# batch_processed = []

# for key, value in tqdm(act_id_to_text.items()):
#     list_key.append(key)
#     batch_processed.append(ViTokenizer.tokenize(value))
#     count += 1
#     if not count % SENTENCE_PER_BATCH or count == len_all:
#         embeddings = model.encode(batch_processed)
#         list_embedding.extend(embeddings)
#         batch_processed = []

# act_id_to_emb = {}
# for key, emb in zip(list_key, list_embedding):
#     act_id_to_emb[key] = emb

# import pickle
# with open("output/activity_embedding.pkl", "wb") as fOut:
#     pickle.dump(act_id_to_emb, fOut)

100%|██████████| 4537/4537 [00:39<00:00, 115.47it/s]

In [42]:
import pickle
with open("output/activity_embedding.pkl", "rb") as fOut:
    act_id_to_emb = pickle.load(fOut)

In [43]:
# Create one-hot vector for type
type_map_one_hot = {}

nunique = df_activity_processed["type"].nunique()
for idx, data in enumerate(df_activity_processed["type"].unique()):
    type_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    type_map_one_hot[data] = vector

In [44]:
# For startYear
start_year_map_one_hot = {}

nunique = df_activity_processed["createdTimeYear"].nunique()
for idx, data in enumerate(df_activity_processed["createdTimeYear"].unique()):
    start_year_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    start_year_map_one_hot[data] = vector

In [45]:
# criteria
criteria_map_id = {}
for idx, data in enumerate(list(citeria_list.keys())):
    criteria_map_id[data] = idx

In [46]:
df_activity_processed["criteria"].isnull().sum()

0

In [47]:
def criteria_map_one_hot(string):
    results = [0] * (len(criteria_map_id) + 1)
    try:
        json_parsed = json.loads(clean_json(string))
        for crite in json_parsed:
            results[criteria_map_id[crite["CId"]]] = 1.0
    except Exception as e:
        results[-1] = 1.0 

    return results

In [48]:
# final features 
act_id_to_features = {} # final features
for _, row in df_activity_processed.iterrows():
    features = []
    activity_id = row["id"]
    # text
    features.extend(act_id_to_emb[activity_id])
    # type one hot 
    features.extend(type_map_one_hot[row["type"]])
    # criteria features
    features.extend(criteria_map_one_hot(row["criteria"]))
    # start year
    features.extend(start_year_map_one_hot[row["createdTimeYear"]])

    act_id_to_features[activity_id] = features

In [49]:
len(act_id_to_features["8300"])

842

# Create Features for Users

In [85]:
df_user_processed = df_user.copy()
df_user_processed.nunique()

id          59273
fullName    37730
email       59273
faculty        18
dtype: int64

In [86]:
df_user_processed["faculty"].unique()

array(['Trường Vật liệu', 'Viện Kinh tế và Quản lý',
       'Trường Điện - Điện tử', 'Trường Hóa và Khoa học Sự sống',
       'Viện Toán ứng dụng và Tin học', 'Trường Cơ khí', 'Viện Ngoại ngữ',
       'Trường Công nghệ Thông tin và Truyền thông',
       'Viện Vật lý Kỹ thuật', 'Viện Sư phạm Kỹ thuật', 'SIE', 'Ban CTSV',
       nan, 'Trường Công nghệ thông tin & Truyền thông',
       'Viện Vật lý kỹ thuật', 'Trường Vật Liệu',
       'Trung tâm Đào tạo liên tục', 'Trường Hóa và Khoa học sự sống',
       'Trường Cơ Khí'], dtype=object)

In [87]:
df_user_processed["faculty"].value_counts(dropna=False)

faculty
Trường Cơ khí                                 13987
Trường Điện - Điện tử                         13482
Trường Hóa và Khoa học Sự sống                 8841
Trường Công nghệ Thông tin và Truyền thông     7565
Viện Kinh tế và Quản lý                        3944
Trường Vật liệu                                2867
Viện Toán ứng dụng và Tin học                  1844
Viện Ngoại ngữ                                 1646
Trường Công nghệ thông tin & Truyền thông      1175
Viện Vật lý Kỹ thuật                           1126
SIE                                             914
Trường Vật Liệu                                 775
Viện Sư phạm Kỹ thuật                           424
Trung tâm Đào tạo liên tục                      315
Viện Vật lý kỹ thuật                            298
Ban CTSV                                         47
NaN                                              11
Trường Hóa và Khoa học sự sống                    8
Trường Cơ Khí                                     4
Name: count, dtype: int64

In [88]:
mapping_similar = {"Trường Cơ khí": "Trường Cơ Khí",
                   "Trường Hóa và Khoa học sự sống": "Trường Hóa và Khoa học Sự sống",
                   "Trường Công nghệ thông tin & Truyền thông": "Trường Công nghệ Thông tin và Truyền thông",
                   "Viện Vật lý kỹ thuật": "Viện Vật lý Kỹ thuật"}


df_user_processed["faculty"] = df_user_processed["faculty"].apply(lambda x :  mapping_similar[x] if x in mapping_similar else x)
df_user_processed["faculty"].value_counts(dropna=False)

faculty
Trường Cơ Khí                                 13991
Trường Điện - Điện tử                         13482
Trường Hóa và Khoa học Sự sống                 8849
Trường Công nghệ Thông tin và Truyền thông     8740
Viện Kinh tế và Quản lý                        3944
Trường Vật liệu                                2867
Viện Toán ứng dụng và Tin học                  1844
Viện Ngoại ngữ                                 1646
Viện Vật lý Kỹ thuật                           1424
SIE                                             914
Trường Vật Liệu                                 775
Viện Sư phạm Kỹ thuật                           424
Trung tâm Đào tạo liên tục                      315
Ban CTSV                                         47
NaN                                              11
Name: count, dtype: int64

In [90]:
# For startYear
faculty_map_one_hot = {}

nunique = df_user_processed["faculty"].nunique(dropna=False)
for idx, data in enumerate(df_user_processed["faculty"].unique()):
    faculty_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    faculty_map_one_hot[data] = vector

In [93]:
faculty_map_one_hot[np.nan]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1.0, 0, 0]

In [94]:
df_user_processed

,id,fullName,email,faculty
0,20186237,Bùi Ánh Nguyệt,nguyet.ba186237@sis.hust.edu.vn,Trường Vật liệu
1,20170351,Bùi Bích Hoà,hoa.bb170351@sis.hust.edu.vn,Viện Kinh tế và Quản lý
2,20191797,Bùi Công Duy,duy.bc191797@sis.hust.edu.vn,Trường Điện - Điện tử
3,20174071,Bùi Công Minh,minh.bc174071@sis.hust.edu.vn,Trường Điện - Điện tử
4,20193457,Bùi Hà Trang,trang.bh193457@sis.hust.edu.vn,Trường Hóa và Khoa học Sự sống
...,...,...,...,...
59268,20230330P,Nguyễn Đình Lộc,loc.nd230330p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59269,20230301P,Nguyễn Thiên Anh,anh.nt230301p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59270,20230538P,Trịnh Thu Ngân,ngan.tt230538p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59271,20230358P,Đặng Quang Thành,thanh.dq230358p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59272,20230354P,Hoàng Lường Tuyển,tuyen.hl230354p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục

In [95]:
import re
temp_id_df = df_user_processed["id"].apply(lambda x: re.findall(r'\d+', x)[0]).astype(int)

In [97]:
temp_id_df.count(), temp_id_df.drop_duplicates().count() #P vs not P

(59273, 59112)

In [98]:
def school_year_calculate(temp_id):
    bin_list = [20120000, 20130000, 20140000, 20150000,
                20160000, 20170000, 20180000, 20190000,
                20200000, 20210000, 20220000, 20230000,
                20240000]
    
    corresponding_school_year = ["K57", "K58", "K59", "K60",
                                 "K61", "K62", "K63", "K64",
                                  "K65", "K66", "K67", "K68" ]
    
    for i in range(len(bin_list) - 1):
        if temp_id >= bin_list[i] and temp_id < bin_list[i+1]:
            return corresponding_school_year[i]

In [99]:
df_user_processed["schoolYear"] = temp_id_df.apply(school_year_calculate)

In [101]:
df_user_processed["schoolYear"].value_counts(dropna=False)

schoolYear
K68    9026
K66    7803
K67    7418
K65    7378
K64    7127
K63    6049
K62    5843
K61    4534
K60    3600
K59     482
K58      12
K57       1
Name: count, dtype: int64

In [102]:
# For schoolYear
school_year_map_one_hot = {}

nunique = df_user_processed["schoolYear"].nunique(dropna=False)
for idx, data in enumerate(df_user_processed["schoolYear"].unique()):
    school_year_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    school_year_map_one_hot[data] = vector

In [104]:
# final features 
user_id_to_features = {} # final features
for _, row in df_user_processed.iterrows():
    features = []
    user_id = row["id"]
    # faculty one hot 
    features.extend(faculty_map_one_hot[row["faculty"]])
    # start year
    features.extend(school_year_map_one_hot[row["schoolYear"]])

    user_id_to_features[user_id] = features

In [106]:
len(user_id_to_features["20204876"])

27

# Hybrid Recommendation System

In [107]:
user_id_map = {i:v for i, v in enumerate(df_all["user_id"].unique())}
inverse_user_id_map = {v:i for i, v in enumerate(df_all["user_id"].unique())}
activity_id_map = {i:v for i, v in enumerate(df_all["activity_id"].unique())}
inverse_activity_id_map = {v:i for i, v in enumerate(df_all["activity_id"].unique())}

In [130]:
import random 
random.seed(73)
np.random.seed(2023)

df_train_map = df_train.copy()
df_test_map = df_test.copy()
df_all_map = df_all.copy()


df_train_map['user_id'] = df_train_map['user_id'].map(inverse_user_id_map)
df_train_map['activity_id'] = df_train_map['activity_id'].map(inverse_activity_id_map)
df_test_map['user_id'] = df_test_map['user_id'].map(inverse_user_id_map)
df_test_map['activity_id'] = df_test_map['activity_id'].map(inverse_activity_id_map)
df_all_map['user_id'] = df_all['user_id'].map(inverse_user_id_map)
df_all_map['activity_id'] = df_all['activity_id'].map(inverse_activity_id_map)


### creating a mapping list for testing data   
test_rating_map = []
for i in range(len(test_rating)):
    test_rating_map.append([inverse_user_id_map[test_rating[i][0]], inverse_activity_id_map[test_rating[i][1]]])


### creating a mapping list for negative testing data
negative_test_rating_map = []
for i in range(len(negative_test_rating)):
    negative_test_rating_map.append([
                                     [inverse_user_id_map[negative_test_rating[i][0][0]],
                                      inverse_activity_id_map[negative_test_rating[i][0][1]]],
                                     list(map(lambda w: inverse_activity_id_map[w], negative_test_rating[i][1]))])

### append negative sample into df_training_map

NEGATIVE_FACTOR = 10 # 50 

negative_training_size = NEGATIVE_FACTOR * df_train_map.shape[0]

ng_user_id = np.random.randint(low = 0, 
                               high = max(user_id_map.keys()), 
                               size = negative_training_size)

ng_act_id = np.random.randint(low = 0, 
                              high = max(activity_id_map.keys()), 
                              size = negative_training_size) # including false negative ??

act_set = set(df_all["activity_id"].unique())
mapping_user_act = df_all.groupby("user_id")['activity_id'].apply(list)

df_ngt = pd.DataFrame(columns=['user_id','activity_id', 'inter_score'],
                      data=np.array([ng_user_id, ng_act_id, [0] * negative_training_size]).T)

df_train_map = df_train_map.drop_duplicates(subset=['user_id','activity_id'], keep = 'first')
df_train_map = pd.concat([df_train_map[['user_id','activity_id', 'inter_score']], df_ngt] , ignore_index=True).reset_index()[["user_id", 'activity_id', 'inter_score']]

In [134]:
df_train_map = df_train_map.sort_values(by="inter_score", ascending=False)
df_train_map

          user_id  activity_id  inter_score
0               0            0            1
23             23            0            1
22             22            0            1
2               2            0            1
1616845      6471          532            1
...           ...          ...          ...
35580290     5096         3384            0
35580263    45868         3439            0
35580171    17144         1249            0
35580262    33287         2604            0
35580291    10651         1128            0

[35580292 rows x 3 columns]

In [136]:
df_train_map = df_train_map.drop_duplicates(["user_id", "activity_id"], keep= "first") # Not quite right, negative samples could be dedup but maybe it alright
df_train_map

          user_id  activity_id  inter_score
0               0            0            1
23             23            0            1
22             22            0            1
2               2            0            1
1616845      6471          532            1
...           ...          ...          ...
35580290     5096         3384            0
35580263    45868         3439            0
35580171    17144         1249            0
35580262    33287         2604            0
35580291    10651         1128            0

[33330625 rows x 3 columns]

# Modeling

In [ ]:
# https://github.com/TeddyWang0202/recommendation_system/blob/master/Hybrid.ipynb

In [ ]:
from keras.models import Model
from keras.layers import Embedding, Input, Dense, merge, Reshape, Concatenate, Flatten,multiply, subtract, Dot
from keras.layers.core import Reshape, Flatten
from keras.layers.merge import Multiply, multiply, Concatenate
from keras.layers.merge import Dot
from keras.layers.embeddings import Embedding
from keras import optimizers
from keras.regularizers import l2
from keras import initializers
from keras.optimizers import Adagrad, Adam, SGD, RMSprop, Adadelta
from keras import backend as K

# Evaluating

In [177]:
### Decide how many last pieces of articles to calculate
from scipy import spatial
import heapq
import time

number_of_seen_article = [i for i in range(1, 6)]
for number in number_of_seen_article:
    test_user_last_aid = test_user_last_aid_func(number)
    ### Evaluate how the 'most similar content recommendation works'
    topK = 5
    testRatings, testNegatives = test_rating, negative_test_rating
    time1 = time.time()
    hits = []
    ndcgs = []
    for idx in tqdm(range(len(test_rating))):
        rating = testRatings[idx]
        items = testNegatives[idx][1]

        u = rating[0]
        gtItem = rating[1]
        items.append(gtItem)
        map_item_score = {}
        predictions = []
        aid_vectors = []
        user_history_activity_list = test_user_last_aid[u]
        for aid in user_history_activity_list:
            if aid in act_id_to_features:
                aid_vectors.append(act_id_to_features[aid])

        user_history_activity_mean = np.array(aid_vectors).mean(axis = 0)

        for i in range(len(items)):
            if items[i] in act_id_to_features:
                similarity = 1 - spatial.distance.cosine(user_history_activity_mean, act_id_to_features[items[i]])
                predictions.append(similarity)
            else:
                predictions.append(0)

        for i in range(len(items)):
            item = items[i]
            map_item_score[item] = predictions[i]
        items.pop()

        ranklist = heapq.nlargest(topK, map_item_score, key=map_item_score.get)
        hr = getHitRatio(ranklist, gtItem)
        ndcg = getNDCG(ranklist, gtItem)
        hits.append(hr)
        ndcgs.append(ndcg)

    hr, ndcg = np.array(hits).mean(), np.array(ndcgs).mean()

    print('HR = %.4f, NDCG = %.4f [%.1f s] number of last seen = %d' % (hr, ndcg, time.time()- time1, number))

100%|██████████| 53312/53312 [02:30<00:00, 354.87it/s]

HR = 0.6226, NDCG = 0.4563 [150.2 s] number of last seen = 0

100%|██████████| 53312/53312 [02:29<00:00, 356.91it/s]

HR = 0.6226, NDCG = 0.4563 [149.4 s] number of last seen = 1

100%|██████████| 53312/53312 [02:35<00:00, 343.17it/s]

HR = 0.6757, NDCG = 0.5016 [155.4 s] number of last seen = 2

100%|██████████| 53312/53312 [02:44<00:00, 324.60it/s]

HR = 0.7033, NDCG = 0.5202 [164.2 s] number of last seen = 3

100%|██████████| 53312/53312 [02:51<00:00, 311.49it/s]

HR = 0.7155, NDCG = 0.5291 [171.2 s] number of last seen = 4