# Settings

In [1]:
OUTPUT_CLEANED_FOLDER = "output/"

# Read data

In [2]:
import os 
import pandas as pd 

df_interaction = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "user_activity_interaction_deep_cleaned.csv"))
df_user = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "user_info_deep_cleaned.csv"))
df_activity = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "activity_info_deep_cleaned.csv"))

/tmp/ipykernel_3603920/1144630671.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_interaction = pd.read_csv(os.path.join(OUTPUT_CLEANED_FOLDER, "user_activity_interaction_deep_cleaned.csv"))

In [3]:
df_activity["id"]  = df_activity["id"].astype(str)

In [4]:
df_activity.head()

,id,title,type,desc,btc,createdTime,startTime,finishTime,deadlineTime,criteria
0,135,Tọa đàm đối thoại giữa sinh viên và lãnh đạo n...,Sinh hoạt chuyên đề,"Các bạn sinh viên thân mến, Gần đây, Trường ch...",Đại học Bách Khoa Hà Nội,2019-11-26 18:03:25,2019-11-26 18:00:00,2019-11-27 21:00:00,2019-11-27 21:00:00,"[{'CGroupId': 0, 'CId': 67, 'CName': 'Tham gia..."
1,136,Ngày hội tuyển dụng của công ty LG Electronics,Hội thảo hướng nghiệp,Công ty LG Electronics Việt Nam Hải Phòng (LGE...,Ban CTSV,2019-11-27 14:51:13,2019-11-29 08:30:00,2019-11-29 11:30:00,2019-11-29 11:30:00,"[{'CGroupId': 0, 'CId': 61, 'CName': 'Tham gia..."
2,137,Cổ vũ Giải bóng đá nam sinh viên các trường...,Hoạt động thể thao,Giải bóng đá sinh viên Hà Nội là giải đấu thườ...,Ban CTSV,2019-12-02 11:16:37,2019-12-02 08:00:00,2019-12-02 10:30:00,2019-12-02 10:30:00,"[{'CGroupId': 0, 'CId': 62, 'CName': 'Tham gia..."
3,146,"Lễ tổng kết cuộc thi ""Tuổi trẻ học tập và làm ...",Sinh hoạt chuyên đề,- Tiếp tục đẩy mạnh học tập và làm theo tư tưở...,Ban CTSV,2019-12-11 09:37:19,2019-12-14 18:00:00,2019-12-14 22:00:00,2019-12-14 22:00:00,"[{'CGroupId': 0, 'CId': 60, 'CName': 'Tham gia..."
4,147,Họp Chi bộ 12/2019,Hiến máu nhân đạo,Kiểm điểm đảng viên Triển khai công tác khác c...,Chi bộ SV II,2019-12-11 14:25:48,2019-12-08 17:00:00,2019-12-08 19:30:00,2019-12-08 19:30:00,"[{'CGroupId': 0, 'CId': 55, 'CName': 'Tham gia..."

In [5]:
df_interaction = df_interaction.astype(str)
df_interaction.dtypes

user_id            object
activity_id        object
accepted_status    object
dtype: object

In [6]:
df_interaction.head()

    user_id activity_id accepted_status
0  20186237         135               2
1  20170351         135               2
2  20191797         135               2
3  20174071         135               1
4  20193457         135               1

In [7]:
df_interaction["inter_score"] = 1

In [8]:
df_interaction

           user_id activity_id accepted_status  inter_score
0         20186237         135               2            1
1         20170351         135               2            1
2         20191797         135               2            1
3         20174071         135               1            1
4         20193457         135               1            1
...            ...         ...             ...          ...
3287967  20230352P        8969               2            1
3287968  20210381P        8969               2            1
3287969  20210126P        8969               2            1
3287970  20230327P        8969               2            1
3287971   20234387        8870               1            1

[3287972 rows x 4 columns]

In [9]:
df_all = df_interaction.merge(df_activity, left_on=["activity_id"], right_on=["id"])[["user_id", "activity_id", "inter_score", "createdTime"]]
df_all.head()

    user_id activity_id  inter_score          createdTime
0  20186237         135            1  2019-11-26 18:03:25
1  20170351         135            1  2019-11-26 18:03:25
2  20191797         135            1  2019-11-26 18:03:25
3  20174071         135            1  2019-11-26 18:03:25
4  20193457         135            1  2019-11-26 18:03:25

In [10]:
df_all.tail()

           user_id activity_id  inter_score          createdTime
3287967  20230352P        8969            1  2023-11-23 10:48:28
3287968  20210381P        8969            1  2023-11-23 10:48:28
3287969  20210126P        8969            1  2023-11-23 10:48:28
3287970  20230327P        8969            1  2023-11-23 10:48:28
3287971   20234387        8870            1  2023-10-17 12:12:00

In [11]:
df_all["createdTime"] = pd.to_datetime(df_all["createdTime"])

# Metrics

In [12]:
import numpy as np
import math

def getHitRatio(ranklist, gtItem):
    if gtItem in ranklist:
        return 1
    return 0

def getNDCG(ranklist, gtItem):
    ar = np.array(ranklist)
    if gtItem in ar:
        return math.log(2) / math.log(np.where(ar == gtItem)[0][0] + 2)
    return 0

# Training Testing Split

In [13]:
def train_test_split_time(df , columns_1 , columns_2 , columns_time):
    '''
    we will use the columns_1 as the first level index
    sort the columns_2 as the target by columns_time
    '''
    
    retrieve_name = df[columns_1].value_counts()[df[columns_1].value_counts() > 5].keys()
    df_test = df[df[columns_1].isin(retrieve_name)]
    df_test = df_test.sort_values(columns_time).groupby(columns_1).tail(1)
    df_train = df.drop(index=df_test.index)
    
    if df_test.shape[0] + df_train.shape[0] == df.shape[0]:
        print('train_test_split succeed!! with df_train shape:(%d,%d), df_test shape:(%d,%d)'
              %(df_train.shape[0],df_train.shape[1],df_test.shape[0],df_test.shape[1])
             )
        return df_train, df_test, retrieve_name
    else:
        print('Oops, something wrong, with df_train shape : (%d,%d), df_test shape : (%d,%d)'
              %(df_train.shape[0],df_train.shape[1],df_test.shape[0],df_test.shape[1])
             )
        print('df_shape : (%d,%d)'
              %(df.shape[0],df.shape[1])
             )

In [14]:
df_train, df_test, retrieve = train_test_split_time(df_all, 'user_id','activity_id', 'createdTime')

train_test_split succeed!! with df_train shape:(3234660,4), df_test shape:(53312,4)

In [15]:
df_train[df_train["user_id"] == "20204876"].sort_values(by="createdTime")

          user_id activity_id  inter_score         createdTime
449583   20204876         901            1 2020-09-18 11:32:04
1638608  20204876         907            1 2020-10-08 11:34:17
1286422  20204876         911            1 2020-10-14 17:41:22
2458868  20204876         921            1 2020-10-18 21:54:32
2838495  20204876         929            1 2020-10-22 16:43:32
...           ...         ...          ...                 ...
3156415  20204876        8978            1 2023-11-25 21:58:12
2773923  20204876        8982            1 2023-11-27 08:40:36
2418474  20204876        9025            1 2023-12-08 15:44:03
2425039  20204876        9033            1 2023-12-11 16:23:32
3032653  20204876        9064            1 2023-12-18 10:04:22

[194 rows x 4 columns]

In [16]:
df_test[df_test["user_id"] == "20204876"]

          user_id activity_id  inter_score         createdTime
2803899  20204876        9075            1 2023-12-19 21:34:35

We will use the leave-one-out method to evaluate our testing data

Basically, we will generate N samples list that the test user hasn't read and add the ground truth into the list, and see how the recommendation system will score and rank the list

In [17]:
set(df_all["activity_id"].unique())

{'1578',
 '551',
 '1752',
 '8996',
 '2465',
 '8899',
 '1454',
 '1964',
 '9055',
 '7192',
 '1877',
 '6889',
 '1643',
 '1110',
 '1345',
 '1591',
 '404',
 '6768',
 '8484',
 '2254',
 '1826',
 '7010',
 '1275',
 '8678',
 '8644',
 '3106',
 '8434',
 '8732',
 '2356',
 '3177',
 '2204',
 '8301',
 '944',
 '7165',
 '555',
 '440',
 '8809',
 '2925',
 '3307',
 '8476',
 '7017',
 '9059',
 '477',
 '6604',
 '2817',
 '482',
 '2523',
 '7200',
 '2689',
 '2798',
 '2343',
 '5424',
 '8730',
 '5443',
 '6610',
 '2045',
 '1137',
 '2176',
 '7227',
 '8737',
 '8545',
 '2853',
 '2982',
 '8742',
 '3197',
 '2934',
 '6798',
 '8637',
 '746',
 '2059',
 '7163',
 '8816',
 '9002',
 '1878',
 '8685',
 '1249',
 '1282',
 '2303',
 '7053',
 '602',
 '642',
 '2830',
 '3184',
 '747',
 '6875',
 '2353',
 '816',
 '9009',
 '8769',
 '2608',
 '6988',
 '648',
 '8964',
 '497',
 '802',
 '2488',
 '8570',
 '2502',
 '3371',
 '8807',
 '3232',
 '7091',
 '1116',
 '3112',
 '1114',
 '1710',
 '2097',
 '3190',
 '6909',
 '2019',
 '1109',
 '8308',
 '5413',
 '9069',
 '2539',
 '1352',
 '2413',
 '6579',
 '2892',
 '6772',
 '6592',
 '1791',
 '7077',
 '869',
 '2217',
 '1821',
 '1984',
 '8335',
 '8781',
 '2601',
 '3225',
 '1073',
 '9017',
 '331',
 '6944',
 '1244',
 '3341',
 '2368',
 '6882',
 '3292',
 '7044',
 '1897',
 '6936',
 '9067',
 '756',
 '1713',
 '9000',
 '8409',
 '2707',
 '8414',
 '8349',
 '2700',
 '9041',
 '7101',
 '8786',
 '5408',
 '8320',
 '2881',
 '2351',
 '8972',
 '6723',
 '937',
 '1063',
 '420',
 '2071',
 '8834',
 '8966',
 '1032',
 '6923',
 '941',
 '305',
 '636',
 '7121',
 '5509',
 '1319',
 '8779',
 '6676',
 '1006',
 '6862',
 '3290',
 '1650',
 '3391',
 '487',
 '676',
 '523',
 '1066',
 '3266',
 '8535',
 '7104',
 '8277',
 '236',
 '2121',
 '2440',
 '8292',
 '2965',
 '3208',
 '2822',
 '1518',
 '7072',
 '2342',
 '1978',
 '606',
 '3216',
 '1334',
 '770',
 '8703',
 '1494',
 '1887',
 '2680',
 '2164',
 '6782',
 '7008',
 '8922',
 '1456',
 '7006',
 '7019',
 '3337',
 '2577',
 '2139',
 '514',
 '1841',
 '8623',
 '2527',
 '3248',
 '6970',
 '1238',
 '528',
 '2026',
 '2355',
 '8981',
 '5525',
 '2736',
 '1092',
 '1538',
 '8286',
 '1720',
 '8946',
 '3084',
 '8337',
 '1609',
 '2637',
 '2035',
 '6678',
 '556',
 '1069',
 '1847',
 '688',
 '8828',
 '3176',
 '7246',
 '1861',
 '1228',
 '695',
 '1986',
 '1488',
 '8559',
 '692',
 '1639',
 '1416',
 '8763',
 '1186',
 '2529',
 '897',
 '1380',
 '8883',
 '219',
 '6976',
 '1125',
 '557',
 '1530',
 '8722',
 '8677',
 '683',
 '8975',
 '8756',
 '3289',
 '1495',
 '1557',
 '1663',
 '481',
 '3178',
 '8939',
 '446',
 '2537',
 '1972',
 '3340',
 '8918',
 '1157',
 '3126',
 '3369',
 '1655',
 '307',
 '425',
 '9033',
 '1696',
 '1426',
 '356',
 '7074',
 '2473',
 '7112',
 '5486',
 '2258',
 '3273',
 '1501',
 '217',
 '2695',
 '5531',
 '149',
 '8378',
 '6804',
 '2971',
 '3019',
 '294',
 '1141',
 '308',
 '401',
 '6958',
 '8586',
 '3353',
 '2062',
 '2380',
 '3305',
 '419',
 '1461',
 '1383',
 '5446',
 '3185',
 '359',
 '9074',
 '8988',
 '2807',
 '1081',
 '7147',
 '2678',
 '8594',
 '407',
 '591',
 '2997',
 '6583',
 '1668',
 '8753',
 '1535',
 '1599',
 '1823',
 '6990',
 '1899',
 '5407',
 '7232',
 '1546',
 '4403',
 '346',
 '2834',
 '2789',
 '2292',
 '2513',
 '1521',
 '1933',
 '2441',
 '6690',
 '1160',
 '6856',
 '521',
 '253',
 '7012',
 '1775',
 '8375',
 '6876',
 '1982',
 '2692',
 '518',
 '1981',
 '8370',
 '2820',
 '8300',
 '2034',
 '2806',
 '402',
 '8651',
 '630',
 '360',
 '1807',
 '2101',
 '2664',
 '8788',
 '2221',
 '8531',
 '971',
 '3094',
 '2152',
 '3347',
 '2376',
 '6938',
 '1606',
 '1615',
 '2743',
 '1784',
 '2499',
 '6986',
 '8583',
 '7239',
 '5445',
 '7167',
 '435',
 '8692',
 '8319',
 '1132',
 '3251',
 '362',
 '1751',
 '1512',
 '8532',
 '1785',
 '8853',
 '2679',
 '2492',
 '1761',
 '317',
 '6684',
 '1792',
 '6738',
 '2543',
 '2943',
 '6776',
 '8992',
 '8641',
 '3165',
 '2622',
 '5547',
 '542',
 '6877',
 '493',
 '8282',
 '8403',
 '8553',
 '8764',
 '2901',
 '334',
 '7102',
 '992',
 '2218',
 '2168',
 '3091',
 '1539',
 '412',
 '7027',
 '6649',
 '354',
 '1481',
 '2182',
 '2208',
 '1174',
 '2609',
 '1927',
 '2739',
 '2125',
 '7035',
 '1243',
 '8875',
 '7022',
 '6558',
 '6957',
 '1304',
 '5521',
 '2336',
 '1054',
 '1357',
 '1471',
 '6934',
 '8718',
 '8464',
 '2261',
 '8389',
 '7037',
 '8772',
 '3099',
 '8393',
 '7135',
 '7007',
 '494',
 '8617',
 '206',
 '5426',
 '1763',
 '3153',
 '2824',
 '2936',
 '2694',
 '6729',
 '453',
 '652',
 '8487',
 '914',
 '2005',
 '2091',
 '553',
 '885',
 '3330',
 '2202',
 '7049',
 '6954',
 '3379',
 '8870',
 '8759',
 '629',
 '8923',
 '9013',
 '8892',
 '7171',
 '2879',
 '6814',
 '832',
 '2738',
 '9032',
 '1611',
 '3351',
 '1485',
 '2742',
 '7128',
 '3213',
 '382',
 '221',
 '2983',
 '619',
 '827',
 '1452',
 '6648',
 '559',
 '6895',
 '7140',
 '817',
 '3221',
 '3333',
 '2516',
 '938',
 '155',
 '2136',
 '3342',
 '1037',
 '6651',
 '2089',
 '1680',
 '669',
 '8633',
 '1142',
 '2510',
 '6897',
 '6880',
 '2654',
 '6871',
 '6637',
 '8433',
 '8417',
 '2910',
 '8901',
 '2733',
 '2767',
 '8303',
 '6730',
 '6718',
 '454',
 '1096',
 '1221',
 '332',
 '2675',
 '6874',
 '1836',
 '2067',
 '2548',
 '1544',
 '600',
 '2297',
 '422',
 '7145',
 '976',
 '7202',
 '1316',
 '1061',
 '2051',
 '6572',
 '8886',
 '1338',
 '572',
 '1571',
 '1487',
 '7226',
 '9006',
 '2203',
 '8848',
 '2719',
 '8797',
 '1851',
 '1524',
 '1880',
 '8700',
 '8507',
 '8558',
 '8381',
 '158',
 '2288',
 '5502',
 '9071',
 '1862',
 '7153',
 '1122',
 '2459',
 '8653',
 '5491',
 '879',
 '893',
 '1468',
 '742',
 '8411',
 '1464',
 '9062',
 '8554',
 '467',
 '252',
 '2766',
 '1843',
 '7089',
 '3131',
 '1408',
 '161',
 '887',
 '1008',
 '6763',
 '1794',
 '8746',
 '2912',
 '8845',
 '238',
 '2975',
 '585',
 '2747',
 '1205',
 '6848',
 '1985',
 '1744',
 '2454',
 '6896',
 '3070',
 '2552',
 '3246',
 '2524',
 '1868',
 '2358',
 '9052',
 '1951',
 '655',
 '2931',
 '8995',
 '3319',
 '675',
 '954',
 '6598',
 '1814',
 '2777',
 '245',
 '881',
 '5477',
 '8645',
 '1734',
 '6777',
 '2655',
 '8793',
 '5468',
 '9024',
 '8555',
 '925',
 '2289',
 '8444',
 '2953',
 '872',
 '910',
 '2316',
 '981',
 '3015',
 '2580',
 '3096',
 '3202',
 '8485',
 '1256',
 '9011',
 '3350',
 '8471',
 '1201',
 '1900',
 '2701',
 '484',
 '1993',
 '6594',
 '364',
 '7183',
 '5432',
 '6791',
 '1560',
 '6890',
 '1789',
 '2371',
 '6576',
 '2723',
 '2595',
 '1085',
 '1930',
 '5544',
 '2978',
 '8906',
 '955',
 '8472',
 '7185',
 '739',
 '333',
 '1685',
 '3241',
 '6991',
 '8766',
 '2185',
 '8655',
 '2177',
 '2029',
 '8365',
 '8702',
 '1143',
 '2652',
 '2563',
 '383',
 '8329',
 '6692',
 '1184',
 '985',
 '8441',
 '8304',
 '2352',
 '7051',
 '2714',
 '2187',
 '169',
 '3321',
 '1418',
 '2009',
 '1762',
 '9020',
 '693',
 '1654',
 '5526',
 '2403',
 '569',
 '8344',
 '6550',
 '8694',
 '665',
 '8591',
 '6711',
 '2227',
 '538',
 '3069',
 '2895',
 '3252',
 '1255',
 '8696',
 '3119',
 '1322',
 '8843',
 '6619',
 '2032',
 '8540',
 '6847',
 '1989',
 '7247',
 '1649',
 '1533',
 '1048',
 '306',
 '969',
 '1511',
 '1173',
 '8573',
 '1805',
 '9010',
 '6984',
 '878',
 '8495',
 '3181',
 '1146',
 '214',
 '5405',
 '2725',
 '1815',
 '9018',
 '8449',
 '3364',
 '8262',
 '651',
 '2490',
 '6831',
 '2658',
 '2023',
 '2437',
 '1277',
 '1753',
 '3383',
 '6993',
 '2921',
 '1613',
 '2556',
 '1540',
 '1294',
 '5454',
 '3384',
 '2174',
 '2119',
 '3220',
 '2239',
 '1144',
 '229',
 '5546',
 '409',
 '212',
 '6694',
 '1224',
 '3155',
 '3230',
 '2275',
 '8293',
 '6966',
 '2987',
 '7223',
 '1034',
 '232',
 '358',
 '8783',
 '2321',
 '8519',
 '8579',
 '956',
 '1035',
 '8855',
 '1998',
 '263',
 '8351',
 '2508',
 '1845',
 '2651',
 '1154',
 '8909',
 '3261',
 '6654',
 '2837',
 '8625',
 '6872',
 '3164',
 '3064',
 '8263',
 '3048',
 '2123',
 '8489',
 '5429',
 '2031',
 '1292',
 '1247',
 '2086',
 '338',
 '1635',
 '8706',
 '2717',
 '597',
 '8905',
 '861',
 '1175',
 '2509',
 '3104',
 '8513',
 '6707',
 '2946',
 '2494',
 '1489',
 '3085',
 '3033',
 '8814',
 '2549',
 '3028',
 '2331',
 '2870',
 '1153',
 '754',
 '8994',
 '3219',
 '6750',
 '6734',
 '2744',
 '2138',
 '839',
 '671',
 '1442',
 '2100',
 '9042',
 '1067',
 '5537',
 '1798',
 '6689',
 '371',
 '991',
 '8322',
 '2947',
 '6821',
 '2262',
 '385',
 '275',
 '3123',
 '5457',
 '5513',
 '8312',
 '6590',
 '3142',
 '1916',
 '8377',
 '311',
 '1825',
 '522',
 '8867',
 '1682',
 '6766',
 '3196',
 '3374',
 '3100',
 '344',
 '6815',
 '2397',
 '2740',
 '1506',
 '975',
 '2616',
 '2873',
 '2560',
 '3362',
 '2805',
 '6823',
 '6752',
 '2065',
 '998',
 '8910',
 '2299',
 '2808',
 '836',
 '5489',
 '8719',
 '2957',
 '7095',
 '3354',
 '3344',
 '664',
 '277',
 '621',
 '2528',
 '691',
 '1569',
 '6685',
 '3057',
 '6844',
 '2691',
 '6643',
 '471',
 '3110',
 '1115',
 '6921',
 '3233',
 '1627',
 '527',
 '6634',
 '6822',
 '8497',
 '620',
 '8429',
 '351',
 '1620',
 '387',
 '2741',
 '6771',
 '2815',
 '737',
 '8327',
 '223',
 '2826',
 '7218',
 '1484',
 '8425',
 '2683',
 '8520',
 '1272',
 '789',
 '8794',
 '1802',
 '1801',
 '1928',
 '1832',
 '3282',
 '3133',
 '3338',
 '1527',
 '5459',
 ...}

In [18]:
len(set(df_all["activity_id"].unique()).difference(sorted(df_all.groupby("user_id")['activity_id'].apply(list)["20204876"])))

4310

In [19]:
import random

random.seed(73)

def get_sampling(df_target, df_source, numbers_of_N_sample, generate_negative = False):
    '''
    1.
    return: test_rating in the shape of [ [user_pid,article] * N ]
    2.
    from the target dataframe, sampling the negative sample from source dataframe
    return: list in the shape of [ [((user_id, ground truth)) , [numbers_of_N_sample(negative samples)]] * N]
    '''
    test_rating = df_target[['user_id','activity_id']].values.tolist()
    print('test_rating yield successfully!!!')
    
    if generate_negative:
        act_set = set(df_source["activity_id"].unique())
        mapping_user_act = df_source.groupby("user_id")['activity_id'].apply(list)
        negative_test_rating = []
        for i in range(df_target.shape[0]):
            drop_id = test_rating[i][0]
            list_ = random.sample(list(act_set.difference(mapping_user_act[drop_id])), numbers_of_N_sample)
            negative_test_rating.append([test_rating[i], list_])
        print('negative_test_rating yield successfully!!!')

        return test_rating, negative_test_rating
    else:
        return test_rating

In [20]:
print('''only for generating sample, if there is a sample file already, skip this cell in the future''')
# In the future just execute the next cell to get the test rating & negative sampling
# import time
# import pickle

# time1 = time.time()
# test_rating, negative_test_rating = get_sampling(df_test, df_train, 19, True)
# time2 = time.time()
# print('Took for %d seconds' %(time2-time1))
# with open("output/negative_test_rating_19N.pkl","wb") as f: #in write mode
#     pickle.dump(negative_test_rating, f)

only for generating sample, if there is a sample file already, skip this cell in the future

In [21]:
import time
import pickle

time1 = time.time()
test_rating = get_sampling(df_test, df_train, None)
with open("output/negative_test_rating_19N.pkl",'rb') as f: #in read mode, not in write mode, careful
    negative_test_rating = pickle.load(f)
    print('negative_test_rating yield successfully!!!')
    
time2 = time.time()
print('Took for %d seconds' %(time2-time1))

test_rating yield successfully!!!
negative_test_rating yield successfully!!!
Took for 0 seconds

# Create Features for Activity

In [22]:
df_activity_processed = df_activity.copy()
df_activity_processed.nunique()

id              4537
title           4532
type              19
desc            2948
btc              143
createdTime     4534
startTime       2312
finishTime      2391
deadlineTime    2383
criteria         381
dtype: int64

In [23]:
df_activity_processed.dtypes

id              object
title           object
type            object
desc            object
btc             object
createdTime     object
startTime       object
finishTime      object
deadlineTime    object
criteria        object
dtype: object

In [24]:
df_activity_processed.head()

,id,title,type,desc,btc,createdTime,startTime,finishTime,deadlineTime,criteria
0,135,Tọa đàm đối thoại giữa sinh viên và lãnh đạo n...,Sinh hoạt chuyên đề,"Các bạn sinh viên thân mến, Gần đây, Trường ch...",Đại học Bách Khoa Hà Nội,2019-11-26 18:03:25,2019-11-26 18:00:00,2019-11-27 21:00:00,2019-11-27 21:00:00,"[{'CGroupId': 0, 'CId': 67, 'CName': 'Tham gia..."
1,136,Ngày hội tuyển dụng của công ty LG Electronics,Hội thảo hướng nghiệp,Công ty LG Electronics Việt Nam Hải Phòng (LGE...,Ban CTSV,2019-11-27 14:51:13,2019-11-29 08:30:00,2019-11-29 11:30:00,2019-11-29 11:30:00,"[{'CGroupId': 0, 'CId': 61, 'CName': 'Tham gia..."
2,137,Cổ vũ Giải bóng đá nam sinh viên các trường...,Hoạt động thể thao,Giải bóng đá sinh viên Hà Nội là giải đấu thườ...,Ban CTSV,2019-12-02 11:16:37,2019-12-02 08:00:00,2019-12-02 10:30:00,2019-12-02 10:30:00,"[{'CGroupId': 0, 'CId': 62, 'CName': 'Tham gia..."
3,146,"Lễ tổng kết cuộc thi ""Tuổi trẻ học tập và làm ...",Sinh hoạt chuyên đề,- Tiếp tục đẩy mạnh học tập và làm theo tư tưở...,Ban CTSV,2019-12-11 09:37:19,2019-12-14 18:00:00,2019-12-14 22:00:00,2019-12-14 22:00:00,"[{'CGroupId': 0, 'CId': 60, 'CName': 'Tham gia..."
4,147,Họp Chi bộ 12/2019,Hiến máu nhân đạo,Kiểm điểm đảng viên Triển khai công tác khác c...,Chi bộ SV II,2019-12-11 14:25:48,2019-12-08 17:00:00,2019-12-08 19:30:00,2019-12-08 19:30:00,"[{'CGroupId': 0, 'CId': 55, 'CName': 'Tham gia..."

In [25]:
df_activity_processed["createdTime"]

0       2019-11-26 18:03:25
1       2019-11-27 14:51:13
2       2019-12-02 11:16:37
3       2019-12-11 09:37:19
4       2019-12-11 14:25:48
               ...
4532    2023-12-20 13:49:42
4533    2023-12-20 16:01:48
4534    2023-12-20 21:49:56
4535    2023-12-20 22:32:40
4536    2023-12-21 14:32:13
Name: createdTime, Length: 4537, dtype: object

In [26]:
df_activity_processed["createdTimeYear"] = pd.to_datetime(df_activity_processed["createdTime"]).dt.year

In [27]:
df_activity_processed["createdTimeYear"].unique() # category features

array([2019, 2020, 2021, 2022, 2023], dtype=int32)

In [28]:
df_activity_processed["type"].unique() # category features

array(['Sinh hoạt chuyên đề', 'Hội thảo hướng nghiệp',
       'Hoạt động thể thao', 'Hiến máu nhân đạo',
       'Hỗ trợ tổ chức sự kiện', 'Hoạt động văn nghệ',
       'Thực tập tại doanh nghiệp', 'Tham gia nghiên cứu LAB',
       'Sinh hoạt công dân', 'Hội thảo khoa học', 'Khóa học kỹ năng mềm',
       'Họp lớp', 'Cuộc thi khoa học công nghệ', 'Tình nguyện tại chỗ',
       'Hoạt động khảo sát', 'Khai báo online', 'Sinh hoạt câu lạc bộ',
       'Ủng hộ, quyên góp', 'Giáo dục Chính trị & Tư tưởng'], dtype=object)

In [29]:
df_activity_processed["btc"].unique() # too much -> concat to title, desc

array(['Đại học Bách Khoa Hà Nội', 'Ban CTSV', 'Chi bộ SV II',
       'Tổ hỗ trợ, tư vấn học tập và tâm lý', 'Tổ Văn Thể Mỹ',
       'Viện Ngoại Ngữ',
       'Liên chi Hội Sinh viên Viện Công nghệ Thông tin và Truyền thông',
       'Hội Sinh Viên', 'Viện Điện Tử - Viễn Thông',
       'Đoàn TNCS Hồ Chí Minh ĐH BKHN', 'BCH LCĐ - LCH SV Viện Điện',
       'Ban TCKT ĐTN & Ban TCXDH HSV', 'Ban Phát triển Thư viện',
       'Liên chi Đoàn - Liên chi Hội sinh viên Chương trình Đào tạo Quốc tế',
       'Viện Toán ứng dụng và Tin học',
       'Liên chi đoàn Viện Điện tử - Viễn thông',
       'Liên chi hội Sinh viên Viện Vật lý Kỹ thuật', 'SIE',
       'Liên chi Đoàn - Liên chi Hội Sinh viên - Viện Ngoại Ngữ',
       'Ban Truyền thông - VNN', 'Liên chi đoàn Viện CNTT&TT',
       'Viện Kinh tế & Quản lý', 'Ban Tuyển sinh',
       'Viện Sư phạm Kỹ thuật', 'Viện Điện',
       'Trường Công nghệ Thông tin và Truyền thông',
       'Viện KH&KT Vật liệu',
       'Liên Chi Đoàn-Liên Chi Hội Sinh viên Viện Cơ khí Động lực',
       'Cán bộ lớp,Đoàn-Hội Viện KH&KT Vật Liệu hoàn thành xuất sắc nhiệm vụ',
       'Cán bộ lớp, Đoàn-Hội Viện KH&KT Vật Liệu hoàn thành tốt nhiệm vụ',
       'MSE FACTORY TOUR 2019 - Chương trình tham quan thực tế Công ty Hòa Phát Dung Quất Quảng Ngãi dành cho SV Viện KH & KT Vật Liệu',
       'Giải bóng đá truyền thống Viện KH&KT Vật Liệu MSE CUP 2019',
       'Tham gia đội Văn nghệ Công Đoàn Viện KH&KT Vật Liệu',
       'ĐẠI HỘI CÁC CHI ĐOÀN - CHI HỘI SV CÁC LỚP VIỆN KH&KT VẬT LIỆU NHIỆM KỲ 2019-2020',
       'Tập huấn Ban Chấp hành LCĐ-LCH SV Viện KH&KT Vật Liệu năm học 2019-2020',
       'ĐẠI HỘI ĐẠI BIỂU LIÊN CHI ĐOÀN VIỆN KH&KT VẬT LIỆU NHIỆM KỲ 2019 - 2022',
       'Tham gia dẫn đoàn Chương trình MSE FACTORY TOUR 2019',
       'Tham gia các Lab nghiên cứu thuộc Viện KH&KT Vật Liệu',
       'Tham gia Tuần lễ Sinh hoạt công dân và Trao học bổng  Viện KH&KT Vật Liệu 2019-2020',
       'Viện Cơ Khí', 'Liên Chi hội Sinh viên Viện CNSH&CNTP',
       'Chi bộ SV I', 'Viện Kỹ thuật Hóa học',
       'Liên chi Đoàn - Liên chi Hội Viện Khoa học và Công nghệ Nhiệt-Lạnh',
       'Câu lạc bộ học tập và NCKH',
       'Tổ hỗ trợ thực tập, việc làm doanh nghiệp',
       'LCĐ-LCH Viện KỸTHUẬT HÓA HỌC', 'Tổ Đào tạo tiếng Anh - CLA',
       'Trung tâm Năng lượng Nguyên tử ICONE',
       'Câu lạc bộ tiếng Anh CLA - CLA English Club',
       'Liên Chi Đoàn Viện Dệt May - Da Giầy và Thời Trang',
       'Viện Dệt may & Da Giầy Thời trang',
       'Liên chi Đoàn - Liên chi Hội', 'LCĐ Viện CNSH&CNTP',
       'TRUYỀN THÔNG', 'Cán bộ đoàn hội',
       'Câu lạc bộ Tiếng anh chuyên ngành - SHEER English Club (SEC)',
       'BCH LCĐ - LCH SV VIỆN KH&KT VẬT LIỆU', 'LCHSV Viện CNSH&CNTP',
       'Viện Cơ Khí Động Lực', 'Lớp Kỹ thuật Hàng không K64',
       'UAV Flight Dynamics and Control Lab',
       'BK Autonomous Unmanned Vehicles', 'Quản lý lớp sinh viên',
       'Engines and Vehicles Simulation Group', 'Aerospace Engine Lab',
       'Computational Engineering Group - Thầy Phạm Văn Sáng',
       'Kỹ thuật tàu thủy K59', 'Vehicle Propulsion Systems Group',
       'Computer-Aided Design and Simulation of Automobile Engine Group',
       'STE - Intelligent Vehicles Lab',
       'STE - Electric, Hybrid and Fuel Cell Vehicles Lab',
       'AeroSpace Computer-Aided Engineering Lab',
       'Đoàn thanh niên - Hội sinh viên Trường Công nghệ Thông tin & Truyền thông',
       'Nhóm 1', 'Nhóm 2', 'Viện KH&CN Môi trường',
       'LCĐ - LCH Sinh viên Viện Vật lý Kỹ thuật',
       'PTN Động lực học ô tô', 'BK-AUTO', 'Lớp Cơ khí Động lực 2 K61',
       'KSCLC-CKHK-K62', 'KSCLC-CKHK-K63', 'Truth Love in Simulation',
       'Câu Lạc Bộ', 'BKStech',
       "Câu lạc bộ tiếng Pháp CFI - Club Francophone d'IPH",
       'LAB thầy Thuận', 'Viện Vật lý Kỹ thuật',
       'Aerospace Structure and Materials', 'Chi bộ SV III',
       'Khoa Lý luận Chính trị', 'Kỹ thuật ô tô 01 K63', 'CLB Tiếng Pháp',
       'TỔ HỖ TRỢ HỌC TẬP BCORN',
       '[CTSV] Tổ Hỗ trợ triển khai Hệ thống iCTSV',
       'CTV Tổ tư vấn tâm lý',
       'Trung tâm hỗ trợ ngôn ngữ và trao đổi học thuật (CLA)',
       'Viện KH&CN Nhiệt Lạnh', 'Viện CN Sinh học và CN Thực phẩm',
       'LAB MANDEVICES',
       'Nhóm nghiên cứu về xử lý ảnh và phân tích tín hiệu (IPSAL LAB)',
       'Nhóm nghiên cứu C9-111', 'Trường Điện - Điện tử', 'Trường Cơ khí',
       'INTERNSHIP', 'Chi bộ Sinh viên', 'CKĐL 03 - K62',
       'CB QLL/ GV chủ nhiệm-VNN', 'Chi bộ sinh viên Điện - Điện tử',
       'Chi bộ Sinh viên CNTT', '[CTSV] Tổ Hỗ trợ sự kiện H.E.S',
       'BLL Sinh viên Thanh Hóa - ĐH Bách Khoa Hà Nội',
       'CLB Kinh tế Môi trường - SEM',
       'CLB Logistics & Chuỗi cung ứng - SEM',
       '[ĐTN/HSV] CLB Hỗ trợ Học tập', 'CLB Tiếng Anh SEMEC - SEM',
       'BCH LCĐ - LCH Viện Kinh tế và Quản lý', 'CLB Âm nhạc M.I.C',
       'CLB Phân tích Kinh doanh - SEM', 'CLB Guitar Bách khoa - GVC',
       'Đội Tình nguyện Các chương trình Chất lượng cao - CTES',
       'CLB Yêu sách', 'LCĐ Viện Dệt May - Da giầy và TT kỳ 2022.2',
       'Lễ trao áo xanh cho Tình ngyện viên khóa mới',
       'CLB Cờ Vua Bách Khoa Hà Nội - BKC', 'CLB Kế toán Tài chính - SEM',
       'CLB Nhà Kinh Tế Trẻ - SEM', 'CLB Tranh Biện Bách Khoa - BKD',
       'Hoạt động Kỹ năng mềm', '[CTSV] Câu lạc bộ o365',
       'Đội SVTN Đồng hương Phú Thọ - Đại học Bách khoa Hà Nội',
       'Đội SVTN chương trình ĐTQT SIE', '[KGDTC] Câu lạc bộ Cầu lông',
       'Trường Vật liệu',
       'Đội tình nguyện 10/1985 Hội Sinh viên Đại học Bách khoa Hà Nội',
       'CLB SV BME', 'CLB Cờ tướng Bách khoa Hà Nội',
       'Đội Tình nguyện Hội Sinh viên Đại học Bách khoa Hà Nội',
       'CLB Sinh học Thực phẩm - FOBIC', 'Trung tâm Đào tạo liên tục',
       'HỌP CLB THƯỜNG KỲ', '[CTSV] CLB Kết nối CSV Bách khoa'],
      dtype=object)

In [30]:
df_activity_processed["createdTime"].min(), df_activity_processed["createdTime"].max() # categorize based on years

('2019-11-26 18:03:25', '2023-12-21 14:32:13')

In [31]:
df_activity_processed["criteria"][0]

"[{'CGroupId': 0, 'CId': 67, 'CName': 'Tham gia các diễn đàn sinh viên, các buổi toạ đàm với lãnh đạo Viện, Trường', 'CType': 0, 'CMaxPoint': 3.0, 'CStatus': 0}]"

In [32]:
import re

def clean_json(string):
    p = re.compile('(?<!\\\\)\'')
    return p.sub('\"', string)

In [33]:
import json
citeria_list = {}

for index, row in df_activity_processed.iterrows():
    criteria = row['criteria']
    try:
        json_parsed = json.loads(clean_json(criteria))
        for crite in json_parsed:
                citeria_list[crite["CId"]] = {"id": crite["CId"],
                                            "name": crite["CName"],
                                            "point": crite["CMaxPoint"]}
    except Exception as e:
         pass 
         # Just ignore them, We cannot parse them :)

In [34]:
len(citeria_list) # Categorical

49

In [35]:
## Bi-Encoder for encoding text
act_id_to_text = {}

for index, row in df_activity_processed.iterrows():
    title = str(row['title']).strip() if row['title'] is not None else ""
    desc = str(row["desc"]).strip() if row['desc'] is not None else ""
    btc = str(row["btc"]).strip() if row['btc'] is not None else ""
    
    act_id_to_text[row["id"]] = title + "\n\n" + desc + "\n\n" + btc

In [36]:
print("You do not need run this if you already have the embeddings")
# # INPUT TEXT MUST BE ALREADY WORD-SEGMENTED!

# Necessary libraries

# from tqdm import tqdm 
# from sentence_transformers import SentenceTransformer
# from pyvi import ViTokenizer

# SENTENCE_PER_BATCH = 64
# model = SentenceTransformer('bkai-foundation-models/vietnamese-bi-encoder')
# len_all = len(act_id_to_text)

# list_key = []
# list_embedding = []
# count = 0
# batch_processed = []

# for key, value in tqdm(act_id_to_text.items()):
#     list_key.append(key)
#     batch_processed.append(ViTokenizer.tokenize(value))
#     count += 1
#     if not count % SENTENCE_PER_BATCH or count == len_all:
#         embeddings = model.encode(batch_processed)
#         list_embedding.extend(embeddings)
#         batch_processed = []

# act_id_to_emb = {}
# for key, emb in zip(list_key, list_embedding):
#     act_id_to_emb[key] = emb

# import pickle
# with open("output/activity_embedding.pkl", "wb") as fOut:
#     pickle.dump(act_id_to_emb, fOut)

You do not need run this if you already have the embeddings

In [37]:
import pickle
with open("output/activity_embedding.pkl", "rb") as fOut:
    act_id_to_emb = pickle.load(fOut)

In [38]:
# Create one-hot vector for type
type_map_one_hot = {}

nunique = df_activity_processed["type"].nunique()
for idx, data in enumerate(df_activity_processed["type"].unique()):
    type_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    type_map_one_hot[data] = vector

In [39]:
# For startYear
start_year_map_one_hot = {}

nunique = df_activity_processed["createdTimeYear"].nunique()
for idx, data in enumerate(df_activity_processed["createdTimeYear"].unique()):
    start_year_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    start_year_map_one_hot[data] = vector

In [40]:
# criteria
criteria_map_id = {}
for idx, data in enumerate(list(citeria_list.keys())):
    criteria_map_id[data] = idx

In [41]:
df_activity_processed["criteria"].isnull().sum()

0

In [42]:
def criteria_map_one_hot(string):
    results = [0] * (len(criteria_map_id) + 1)
    try:
        json_parsed = json.loads(clean_json(string))
        for crite in json_parsed:
            results[criteria_map_id[crite["CId"]]] = 1.0
    except Exception as e:
        results[-1] = 1.0 

    return results

In [43]:
# final features 
act_id_to_features = {} # final features
for _, row in df_activity_processed.iterrows():
    features = []
    activity_id = row["id"]
    # text
    features.extend(act_id_to_emb[activity_id])
    # type one hot 
    features.extend(type_map_one_hot[row["type"]])
    # criteria features
    features.extend(criteria_map_one_hot(row["criteria"]))
    # start year
    features.extend(start_year_map_one_hot[row["createdTimeYear"]])

    act_id_to_features[activity_id] = features

In [44]:
len(act_id_to_features["8300"])

842

# Create Features for Users

In [45]:
df_user_processed = df_user.copy()
df_user_processed.nunique()

id          59273
fullName    37730
email       59273
faculty        18
dtype: int64

In [46]:
df_user_processed["faculty"].unique()

array(['Trường Vật liệu', 'Viện Kinh tế và Quản lý',
       'Trường Điện - Điện tử', 'Trường Hóa và Khoa học Sự sống',
       'Viện Toán ứng dụng và Tin học', 'Trường Cơ khí', 'Viện Ngoại ngữ',
       'Trường Công nghệ Thông tin và Truyền thông',
       'Viện Vật lý Kỹ thuật', 'Viện Sư phạm Kỹ thuật', 'SIE', 'Ban CTSV',
       nan, 'Trường Công nghệ thông tin & Truyền thông',
       'Viện Vật lý kỹ thuật', 'Trường Vật Liệu',
       'Trung tâm Đào tạo liên tục', 'Trường Hóa và Khoa học sự sống',
       'Trường Cơ Khí'], dtype=object)

In [47]:
df_user_processed["faculty"].value_counts(dropna=False)

faculty
Trường Cơ khí                                 13987
Trường Điện - Điện tử                         13482
Trường Hóa và Khoa học Sự sống                 8841
Trường Công nghệ Thông tin và Truyền thông     7565
Viện Kinh tế và Quản lý                        3944
Trường Vật liệu                                2867
Viện Toán ứng dụng và Tin học                  1844
Viện Ngoại ngữ                                 1646
Trường Công nghệ thông tin & Truyền thông      1175
Viện Vật lý Kỹ thuật                           1126
SIE                                             914
Trường Vật Liệu                                 775
Viện Sư phạm Kỹ thuật                           424
Trung tâm Đào tạo liên tục                      315
Viện Vật lý kỹ thuật                            298
Ban CTSV                                         47
NaN                                              11
Trường Hóa và Khoa học sự sống                    8
Trường Cơ Khí                                     4
Name: count, dtype: int64

In [48]:
mapping_similar = {"Trường Cơ khí": "Trường Cơ Khí",
                   "Trường Hóa và Khoa học sự sống": "Trường Hóa và Khoa học Sự sống",
                   "Trường Công nghệ thông tin & Truyền thông": "Trường Công nghệ Thông tin và Truyền thông",
                   "Viện Vật lý kỹ thuật": "Viện Vật lý Kỹ thuật"}


df_user_processed["faculty"] = df_user_processed["faculty"].apply(lambda x :  mapping_similar[x] if x in mapping_similar else x)
df_user_processed["faculty"].value_counts(dropna=False)

faculty
Trường Cơ Khí                                 13991
Trường Điện - Điện tử                         13482
Trường Hóa và Khoa học Sự sống                 8849
Trường Công nghệ Thông tin và Truyền thông     8740
Viện Kinh tế và Quản lý                        3944
Trường Vật liệu                                2867
Viện Toán ứng dụng và Tin học                  1844
Viện Ngoại ngữ                                 1646
Viện Vật lý Kỹ thuật                           1424
SIE                                             914
Trường Vật Liệu                                 775
Viện Sư phạm Kỹ thuật                           424
Trung tâm Đào tạo liên tục                      315
Ban CTSV                                         47
NaN                                              11
Name: count, dtype: int64

In [49]:
# For startYear
faculty_map_one_hot = {}

nunique = df_user_processed["faculty"].nunique(dropna=False)
for idx, data in enumerate(df_user_processed["faculty"].unique()):
    faculty_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    faculty_map_one_hot[data] = vector

In [50]:
faculty_map_one_hot[np.nan]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1.0, 0, 0]

In [51]:
df_user_processed

,id,fullName,email,faculty
0,20186237,Bùi Ánh Nguyệt,nguyet.ba186237@sis.hust.edu.vn,Trường Vật liệu
1,20170351,Bùi Bích Hoà,hoa.bb170351@sis.hust.edu.vn,Viện Kinh tế và Quản lý
2,20191797,Bùi Công Duy,duy.bc191797@sis.hust.edu.vn,Trường Điện - Điện tử
3,20174071,Bùi Công Minh,minh.bc174071@sis.hust.edu.vn,Trường Điện - Điện tử
4,20193457,Bùi Hà Trang,trang.bh193457@sis.hust.edu.vn,Trường Hóa và Khoa học Sự sống
...,...,...,...,...
59268,20230330P,Nguyễn Đình Lộc,loc.nd230330p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59269,20230301P,Nguyễn Thiên Anh,anh.nt230301p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59270,20230538P,Trịnh Thu Ngân,ngan.tt230538p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59271,20230358P,Đặng Quang Thành,thanh.dq230358p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục
59272,20230354P,Hoàng Lường Tuyển,tuyen.hl230354p@sis.hust.edu.vn,Trung tâm Đào tạo liên tục

In [52]:
import re
temp_id_df = df_user_processed["id"].apply(lambda x: re.findall(r'\d+', x)[0]).astype(int)

In [53]:
temp_id_df.count(), temp_id_df.drop_duplicates().count() #P vs not P

(59273, 59112)

In [54]:
def school_year_calculate(temp_id):
    bin_list = [20120000, 20130000, 20140000, 20150000,
                20160000, 20170000, 20180000, 20190000,
                20200000, 20210000, 20220000, 20230000,
                20240000]
    
    corresponding_school_year = ["K57", "K58", "K59", "K60",
                                 "K61", "K62", "K63", "K64",
                                  "K65", "K66", "K67", "K68" ]
    
    for i in range(len(bin_list) - 1):
        if temp_id >= bin_list[i] and temp_id < bin_list[i+1]:
            return corresponding_school_year[i]

In [55]:
df_user_processed["schoolYear"] = temp_id_df.apply(school_year_calculate)

In [56]:
df_user_processed["schoolYear"].value_counts(dropna=False)

schoolYear
K68    9026
K66    7803
K67    7418
K65    7378
K64    7127
K63    6049
K62    5843
K61    4534
K60    3600
K59     482
K58      12
K57       1
Name: count, dtype: int64

In [57]:
# For schoolYear
school_year_map_one_hot = {}

nunique = df_user_processed["schoolYear"].nunique(dropna=False)
for idx, data in enumerate(df_user_processed["schoolYear"].unique()):
    school_year_map_one_hot[data] = idx
    vector = [0] * nunique
    vector[idx] = 1.0
    school_year_map_one_hot[data] = vector

In [58]:
# final features 
user_id_to_features = {} # final features
for _, row in df_user_processed.iterrows():
    features = []
    user_id = row["id"]
    # faculty one hot 
    features.extend(faculty_map_one_hot[row["faculty"]])
    # start year
    features.extend(school_year_map_one_hot[row["schoolYear"]])

    user_id_to_features[user_id] = features

In [59]:
len(user_id_to_features["20204876"])

27

# Hybrid Recommendation System

In [60]:
user_id_map = {i:v for i, v in enumerate(df_all["user_id"].unique())}
inverse_user_id_map = {v:i for i, v in enumerate(df_all["user_id"].unique())}
activity_id_map = {i:v for i, v in enumerate(df_all["activity_id"].unique())}
inverse_activity_id_map = {v:i for i, v in enumerate(df_all["activity_id"].unique())}

In [61]:
import random 
random.seed(73)
np.random.seed(2023)

df_train_map = df_train.copy()
df_test_map = df_test.copy()
df_all_map = df_all.copy()


df_train_map['user_id'] = df_train_map['user_id'].map(inverse_user_id_map)
df_train_map['activity_id'] = df_train_map['activity_id'].map(inverse_activity_id_map)
df_test_map['user_id'] = df_test_map['user_id'].map(inverse_user_id_map)
df_test_map['activity_id'] = df_test_map['activity_id'].map(inverse_activity_id_map)
df_all_map['user_id'] = df_all['user_id'].map(inverse_user_id_map)
df_all_map['activity_id'] = df_all['activity_id'].map(inverse_activity_id_map)


### creating a mapping list for testing data   
test_rating_map = []
for i in range(len(test_rating)):
    test_rating_map.append([inverse_user_id_map[test_rating[i][0]], inverse_activity_id_map[test_rating[i][1]]])


### creating a mapping list for negative testing data
negative_test_rating_map = []
for i in range(len(negative_test_rating)):
    negative_test_rating_map.append([
                                     [inverse_user_id_map[negative_test_rating[i][0][0]],
                                      inverse_activity_id_map[negative_test_rating[i][0][1]]],
                                     list(map(lambda w: inverse_activity_id_map[w], negative_test_rating[i][1]))])

### append negative sample into df_training_map

NEGATIVE_FACTOR = 5 # 50 

negative_training_size = NEGATIVE_FACTOR * df_train_map.shape[0]

ng_user_id = np.random.randint(low = 0, 
                               high = max(user_id_map.keys()), 
                               size = negative_training_size)

ng_act_id = np.random.randint(low = 0, 
                              high = max(activity_id_map.keys()), 
                              size = negative_training_size) # including false negative ??

act_set = set(df_all["activity_id"].unique())
mapping_user_act = df_all.groupby("user_id")['activity_id'].apply(list)

df_ngt = pd.DataFrame(columns=['user_id','activity_id', 'inter_score'],
                      data=np.array([ng_user_id, ng_act_id, [0] * negative_training_size]).T)

df_train_map = df_train_map.drop_duplicates(subset=['user_id','activity_id'], keep = 'first')
df_train_map = pd.concat([df_train_map[['user_id','activity_id', 'inter_score']], df_ngt] , ignore_index=True).reset_index()[["user_id", 'activity_id', 'inter_score']]

In [62]:
# df_train_map = df_train_map.sort_values(by="inter_score", ascending=False)
# df_train_map

In [63]:
# df_train_map = df_train_map.drop_duplicates(["user_id", "activity_id"], keep= "first") # Not quite right, negative samples could be dedup but maybe it alright
# df_train_map

# Modeling

In [64]:
# https://github.com/TeddyWang0202/recommendation_system/blob/master/Hybrid.ipynb

In [65]:
import tensorflow as tf
gpu_num = 7
gpus = tf.config.list_physical_devices('GPU')
tf.config.set_visible_devices(gpus[gpu_num], 'GPU')

2023-12-25 01:22:53.335468: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-25 01:22:53.335550: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-25 01:22:53.336867: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-25 01:22:53.343786: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-25 01:22:55.385044: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [66]:
import keras
keras.__version__
# install tensorflow[and-cuda] to enable keras 2.15.0

'2.15.0'

In [67]:
from keras.layers import Embedding

num_items = len(act_id_to_emb.items())

### Try create embedding matrix
activity_vector_create = act_id_to_emb.copy()
activity_vector_create[-1] = [0.0] * 768

activity_map_vector = {(inverse_activity_id_map[k] if k in inverse_activity_id_map else -1): v  for k, v in activity_vector_create.items()}
activity_map_vector.pop(-1)

print(len(activity_map_vector))
input_len = 768
embedding_matrix = np.zeros((num_items, input_len), dtype=np.float32)
for i in activity_map_vector.keys():
    embedding_matrix[i] = np.array(activity_map_vector[i][:input_len])

bert_embedding_layer = Embedding(num_items,
                            input_len,
                            weights=[embedding_matrix],
                            name = 'BERT_act_embedding_vector',
                            trainable=False)

4505

In [68]:
from keras import initializers
from keras.models import Model
from keras.regularizers import l2
from keras.layers import multiply, Input, Reshape, Flatten, Dense, Concatenate


def init_normal(shape, dtype=None):
    return initializers.VarianceScaling(scale=0.01, 
    mode='fan_in', distribution='normal')(shape)

def get_model(num_users, num_items, latent_dim, embedding_layer, regs=[0, 0]):
    
    ''' Deep part : user-item-log embedding part '''
    ### define placeholder.
    user_id_input = Input(shape=[1], name='user')
    item_id_input = Input(shape=[1], name='item')

    ### define embedding size and layers.

    user_embedding = Embedding(output_dim = latent_dim, 
                               input_dim = num_users,
                               input_length= 1, 
                               name='user_embedding',
                               embeddings_regularizer = l2(regs[0]),
                               embeddings_initializer = init_normal)(user_id_input)
    
    item_embedding = Embedding(output_dim = latent_dim, 
                               input_dim = num_items,
                               input_length=1, 
                               name='item_embedding',
                               embeddings_regularizer = l2(regs[1]),
                               embeddings_initializer = init_normal)(item_id_input)

    user_vecs = Reshape([latent_dim])(user_embedding)
    item_vecs = Reshape([latent_dim])(item_embedding)
    
    mf = multiply([user_vecs, item_vecs])

    ''' Wide part : item embedding vector part '''
    ### input extracted matrix(here use embedding) and concatenate with one single DNN layer 
    item_vector = Flatten()(embedding_layer(item_id_input))
    item_vector_dense = Dense(384, 
                              activation='relu')(item_vector)
    
    '''Concatenate the deep and wide part'''
    
    concate_vector = Concatenate()([mf,
                                    item_vector_dense,
                                   ])
    
    ### The prediction, which we calculate the loss function with ground truth and optimize.
    y_hat= Dense(1, 
                 activation='selu', 
                 kernel_initializer='lecun_uniform', 
                 name = 'prediction')(concate_vector)
    
    
    model = Model(inputs=[user_id_input, item_id_input], 
                  outputs=y_hat)
    
    return model

In [69]:
num_users = len(user_id_map.items())
num_items = len(activity_id_map.items())

topK = 5
latent_dim = 15
epochs = 100
batch_size = 4096
evaluation_threads = 1
best_hr, best_ndcg, best_iter = -1, -1, -1
model_out_file = 'models/DWN_%d_%d.h5' %(latent_dim, time.time())


learning_rate = 1e-4
model = get_model(num_users, 
                  num_items, 
                  latent_dim, 
                  bert_embedding_layer, 
                  regs=[0, 0])

2023-12-25 01:22:59.631544: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 38375 MB memory:  -> device: 7, name: NVIDIA A100-SXM4-40GB, pci bus id: 0000:bd:00.0, compute capability: 8.0

In [70]:
from keras.optimizers import Adam
import heapq


model.compile(optimizer=Adam(learning_rate=learning_rate), loss='bce')
hr_list = []
loss_list = []
patience = 5
early_stop =True

# Generate training instances
user_input, item_input = df_train_map["user_id"], df_train_map["activity_id"]
labels = df_train_map["inter_score"]
# create user_test_input, 
user_test_input = [] 
item_test_input = []

for data_sample in negative_test_rating_map:
    user_id = data_sample[0][0]
    items_id = [data_sample[0][1]] +  data_sample[1]
    user_test_input.extend([user_id] * len(items_id))
    item_test_input.extend(items_id)

user_test_input = np.array(user_test_input)
item_test_input = np.array(item_test_input)


print('start training...')
for epoch in range(epochs):
    t1 = time.time()
    print('training for the %d epoch' % (epoch))    
    # Training
    hist = model.fit([np.array(user_input), np.array(item_input)], #input
                         np.array(labels), # labels 
                         batch_size = batch_size,
                         validation_data = ([df_test_map["user_id"],df_test_map["activity_id"]],
                                            df_test_map["inter_score"]) ,
                         epochs = 1, 
                         shuffle = True)
    
    t2 = time.time()

    predictions = model.predict([user_test_input,
                            item_test_input], 
                            batch_size=batch_size)

    # Evaluation
    hits, ndcgs = [], []

    df = pd.DataFrame(np.concatenate([user_test_input.reshape(-1, 1), predictions], axis=1), 
             columns=["user_id", "prediction"])

    df["user_id"] = df["user_id"].astype(int)

    user_predictions = {} 
    for index, row in df.iterrows():
        user_predictions.setdefault(int(row["user_id"]), []).append(row["prediction"])    

    for idx in range(len(test_rating_map)):
        rating = test_rating_map[idx]
        ### rating should be like (  [user_id,article_pid(only one article, which is ground truth)]  ) 
        items = negative_test_rating_map[idx][1]
        ### items should be like (  [article_pid(199 ones, which are ones the reader haven't read)]  )
        u = rating[0]
        gtItem = rating[1]
        items.append(gtItem)
        map_item_score = {}
        for i in range(len(items)):
            item = items[i]
            map_item_score[item] = user_predictions[u][i]
        
        items.pop() # LOL 
        ranklist = heapq.nlargest(topK, map_item_score, key=map_item_score.get)

        hr = getHitRatio(ranklist, gtItem)
        ndcg = getNDCG(ranklist, gtItem)

        hits.append(hr)
        ndcgs.append(ndcg)

    hr, ndcg, loss = np.array(hits).mean(), np.array(ndcgs).mean(), hist.history['val_loss'][0]    
    hr_list.append(hr)
    loss_list.append(loss)
    # Using patience to set the early stopping.
    # Always to save the model with minimun loss.
    if hr < np.max(hr_list):
        patience_count += 1
    else:
        patience_count = 0
        best_hr, best_ndcg, best_iter = hr, ndcg, epoch
        model.save_weights(model_out_file, 
                           overwrite=True)
        
    if (early_stop) and (patience_count == patience):
        break
    if epoch % 1 == 0:
        print('Iteration %d [%.1f s]: HR = %.4f, NDCG = %.4f, val_loss = %.4f [%.1f s]' 
            % (epoch,  t2-t1, hr, ndcg, loss, time.time()-t2))

print("End. Best Iteration %d:  HR = %.4f, NDCG = %.4f. " %(best_iter, best_hr, best_ndcg))

start training...
training for the 0 epoch

2023-12-25 01:23:02.921924: I external/local_tsl/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory
2023-12-25 01:23:04.656433: I external/local_xla/xla/service/service.cc:168] XLA service 0x7f88c91b2e80 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2023-12-25 01:23:04.656496: I external/local_xla/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA A100-SXM4-40GB, Compute Capability 8.0
2023-12-25 01:23:04.662313: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2023-12-25 01:23:04.738771: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:454] Loaded cuDNN version 8904
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1703442184.851959 3604999 device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

4739/4739 [==============================] - 13s 2ms/step - loss: 0.3461 - val_loss: 1.6978
261/261 [==============================] - 0s 742us/step
Iteration 0 [14.6 s]: HR = 0.2223, NDCG = 0.1266, val_loss = 1.6978 [33.7 s]
training for the 1 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.2828 - val_loss: 1.7008
261/261 [==============================] - 0s 876us/step
Iteration 1 [11.0 s]: HR = 0.2197, NDCG = 0.1231, val_loss = 1.7008 [33.2 s]
training for the 2 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.2350 - val_loss: 1.9182
261/261 [==============================] - 0s 761us/step
Iteration 2 [10.9 s]: HR = 0.2235, NDCG = 0.1243, val_loss = 1.9182 [33.1 s]
training for the 3 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.2130 - val_loss: 1.8888
261/261 [==============================] - 0s 745us/step
Iteration 3 [10.8 s]: HR = 0.2182, NDCG = 0.1206, val_loss = 1.8888 [33.0 s]
training for the 4 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.2038 - val_loss: 1.9291
261/261 [==============================] - 0s 747us/step
Iteration 4 [10.7 s]: HR = 0.2213, NDCG = 0.1224, val_loss = 1.9291 [32.5 s]
training for the 5 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.1986 - val_loss: 2.3919
261/261 [==============================] - 0s 876us/step
Iteration 5 [11.0 s]: HR = 0.2196, NDCG = 0.1221, val_loss = 2.3919 [32.9 s]
training for the 6 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.1987 - val_loss: 1.8535
261/261 [==============================] - 0s 746us/step
Iteration 6 [11.0 s]: HR = 0.2191, NDCG = 0.1209, val_loss = 1.8535 [32.5 s]
training for the 7 epoch
4739/4739 [==============================] - 10s 2ms/step - loss: 0.1987 - val_loss: 1.9819
261/261 [==============================] - 0s 763us/step
End. Best Iteration 2:  HR = 0.2235, NDCG = 0.1243.